{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %}{{ application.full_name }}{% endblock page_title %}
{% block application_listings_lnk %}active{% endblock %}
{% block page_content %}

  <div class="container-fluid page__heading-container">
      <div class="page__heading d-flex align-items-center">
          <div class="flex">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="{% host_url 'application_listings' host 'staff' %}">Applications</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        {{ application.full_name }}, {{ application.get_sex_display }} {{ application.age }}
                      </li>
                  </ol>
              </nav>
              <h4 class="m-0">{{ application.course }}</h4>
          </div>
          <!--<a href="#" class="btn btn-success ml-3">New Report</a>-->
      </div>
  </div>

  <div class="container-fluid page__container">


    <div class="card shadow-none card-form">
        <div class="row no-gutters">
            <div class="col-lg-2 card-body">
                <p>
                  {% if application.accepted %}
                    <span class="btn btn-outline-success btn-block">Accepted</span>
                  {% elif application.rejected %}
                    <span class="btn btn-outline-warning btn-block">Rejected</span>
                  {% else %}
                    <span class="btn btn-outline-secondary btn-block">Pending</span>
                  {% endif %}
                </p>
                <p><strong class="headings-color">Applicant Details</strong></p>
                <hr>
                <p class="text-muted">Applicant details and particulars as filled on the form</p>
            </div>
            <div class="col-lg-7 card-form__body card-body">
                <p><strong class="headings-color">Application Form Details</strong></p>
                <hr>
                <dl class="dl-horizontal">
                  <dt class="text-muted">Entry Type</dt>
                  <dd class="lead">{{ application.get_entry_type_display }}</dd>
                  <dt class="text-muted">Full name(s)</dt>
                  <dd class="lead">{{ application.full_name }}</dd>
                  <dt class="text-muted">Sex, Age</dt>
                  <dd class="lead">
                    {{application.get_sex_display}}, {{ application.age }}
                  </dd>
                  <dt class="text-muted">Marital Status</dt>
                  <dd class="lead">{{ application.get_marital_status_display }}</dd>
                  {% if application.disabilities %}
                    <dt class="text-muted">Diabilities</dt>
                    <dd class="lead">
                      {{ application.disabilities|linebreaks|default:"N/A" }}
                    </dd>
                  {% endif %}
                  <dt class="text-muted">Nationality</dt>
                  <dd class="lead">{{ application.get_nationality_display }}</dd>
                  <dt class="text-muted">Country of Permanent Residence</dt>
                  <dd class="lead">
                    {{ application.get_country_of_permanent_residence_display }}
                  </dd>
                  {% if application.national_id %}
                    <dt class="text-muted">National ID Number</dt>
                    <dd class="lead">
                      {{ application.national_id }}
                    </dd>
                  {% endif %}
                  {% if application.passport_number %}
                    <dt class="text-muted">Passport Number</dt>
                    <dd class="lead">
                      {{ application.passport_number }}
                    </dd>
                  {% endif %}
                  <dt class="text-muted">Contact Address</dt>
                  <dd class="lead">
                    {{ application.contact_address }}
                  </dd>
                  <dt class="text-muted">Email Address</dt>
                  <dd class="lead">
                    <a href="mailto:{{ application.email_address }}">
                      {{ application.email_address }}
                    </a>&nbsp;
                    <small class="text-muted"><i class="fa fa-envelope"></i> click address to send email</small>
                  </dd>
                  {% if application.telephone_number %}
                    <dt class="text-muted">Telephone Number</dt>
                    <dd class="lead">
                      <a href="tel:{{ application.telephone_number }}">
                        {{ application.telephone_number }}
                      </a>&nbsp;
                      <small class="text-muted"><i class="fa fa-phone"></i> click tel. no to call.</small>
                    </dd>
                  {% endif %}
                  {% if application.mobile_number %}
                    <dt class="text-muted">Mobile Number</dt>
                    <dd class="lead">
                      <a href="tel:{{ application.mobile_number }}">
                        {{ application.mobile_number }}
                      </a>&nbsp;
                      <small class="text-muted"><i class="fa fa-phone"></i> click cell no. to call.</small>
                    </dd>
                  {% endif %}
                  {% if application.fax %}
                    <dt class="text-muted">Fax</dt>
                    <dd class="lead">
                      {{ application.fax }}
                    </dd>
                  {% endif %}
                  <dt class="text-muted">Colleges/Universities Attended</dt>
                  <dd class="lead">
                    {{ application.colleges_attended|linebreaks|default:"N/A" }}
                  </dd>
                  <dt class="text-muted">Work Experience</dt>
                  <dd class="lead">
                    {{ application.work_experience|linebreaks|default:"N/A" }}
                  </dd>
                  <dt class="text-muted">Referees</dt>
                  <dd class="lead">
                    {{ application.referees|linebreaks|default:"N/A" }}
                  </dd>
                </dl>
            </div>
            <div class="col-lg-3 card-body">
                <p><strong class="headings-color">Documents</strong></p>
                <hr>
                {% if application.documents.count > 0 %}
                  {% for document in application.documents.all %}
                    <li style="list-style: none;">
                      <a href="{{ document.file.url }}">
                          {{ forloop.counter }}.
                        <i class="fa fa-file-pdf"></i> &nbsp;
                        {{ document.label }}
                      </a>
                    </li>
                  {% endfor %}
                  <br>
                  <br>
                {% else %}
                  <span class="text-muted">No documents attached</span>
                  <br>
                  <br>
                {% endif%}

                {% if not application.accepted %}
                <p><strong class="headings-color">Accept Application</strong></p>
                <hr>
                <form method="post" action="{% host_url 'accept_application' application.uuid_id host 'staff' %}">
                  {% csrf_token %}
                  {{ acceptance_form.application}}
                  {{ acceptance_form.semester|as_crispy_field }}
                  <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-check-circle"></i> Accept Application
                  </button>
                </form>
                  <br>
                  <br>
                {% endif %}
                <p><strong class="headings-color">Other Actions</strong></p>
                <hr>
                {% if not application.rejected %}
                  <a href="{% host_url 'reject_application' application.uuid_id host 'staff' %}" class="btn btn-outline-warning btn-block">
                    <i class="fa fa-times-circle"></i> Reject Application
                  </a>
                  <br>
                  <br>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-3 card-body">
                <p><strong class="headings-color">Course Details</strong></p>
                <p class="text-muted">{{ application.course }}</p>
            </div>
            <div class="col-lg-9 card-form__body card-body">
              <dt class="text-muted">Course</dt>
              <dd class="lead">
                {{ application.course }}
              </dd>
              <dt class="text-muted">Course duration</dt>
              <dd class="lead">
                {{ application.course.duration }} <span class="text-muted">months.</span>
              </dd>
              <dt class="text-muted">About Course</dt>
              <dd>
                {{ application.course.course_name.about_markdownified|safe }}
              </dd>
              <dt class="text-muted">Course-specific Requirements</dt>
              <dd>
                {{ application.course.requirements_markdownified|safe }}
              </dd>
            </div>
        </div>
    </div>

  </div>
{% endblock page_content %}
