{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}Application Listings{% endblock page_title %}
{% block application_listings_lnk %}active{% endblock %}
{% block page_content %}

  <div class="container-fluid page__heading-container">
      <div class="page__heading d-flex align-items-center">
          <div class="flex">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Applications</li>
                  </ol>
              </nav>
              <h1 class="m-0">Applications</h1>
          </div>
          <!--<a href="#" class="btn btn-success ml-3">New Report</a>-->
      </div>
  </div>


  <div class="container-fluid page__container">
      <div class="card shadow-none border-top border-bottom border-right border-left card-form d-flex flex-column flex-sm-row">
          <div class="card-form__body card-body-form-group flex">
            <form method="get" action="" id="filter_form">
              <div class="form-row">
                <div class="col-sm-2">
                  {{ filter.form.status|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ filter.form.first_name|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ filter.form.last_name|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ filter.form.is_member|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ filter.form.entry_type|as_crispy_field }}
                </div>
                <div class="col-sm-2">
                  {{ filter.form.course__award|as_crispy_field }}
                </div>
              </div>
            </form>
          </div>
          <button onclick="$('#filter_form').submit();" class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0">
            <i class="material-icons text-primary">refresh</i>
          </button>
      </div>

      {% for application in object_list %}
        {% ifchanged application.created|date %}
            <p class="text-dark-gray d-flex align-items-center mt-3">
              <i class="material-icons icon-muted mr-2">event</i>
              <strong>{{ application.created|date:"l, d M 'y" }}</strong>
            </p>
        {% endifchanged %}
        <div class="row align-items-center projects-item mb-1">
            <div class="col-sm-auto mb-1 mb-sm-0">
                <div class="text-dark-gray">{{ application.created|time:"h:i A" }}</div>
            </div>
            <div class="col-sm">
                <div class="card shadow-none m-0">
                    <div class="px-4 py-3">
                        <div class="row align-items-center">
                            <div class="col" style="min-width: 250px">
                                <div class="d-flex align-items-center">
                                    <a href="{% host_url 'single_application' application.uuid_id host 'staff'  %}" title="{{ application.course }}" class="text-body">
                                      <strong class="text-15pt mr-2">
                                        #{{ application.id }} {{ application.course|truncatechars:45 }}
                                      </strong>
                                    </a>
                                    {% if application.status == 'pending' %}
                                      <span class="badge badge-warning">Pending</span>
                                    {% elif application.status == 'accepted' %}
                                      <span class="badge badge-success">
                                        <i class="fa fa-check-circle"></i> &nbsp;Accepted
                                      </span>
                                    {% elif application.status == 'rejected' %}
                                      <span class="badge badge-danger"><i class="fa fa-times-circle"></i> &nbsp;Rejected</span>
                                    {% endif %}
                                </div>

                                <div class="d-flex align-items-center">
                                    <small class="text-dark-gray mr-2">Applicant</small>
                                    <a href="#" class="d-flex align-items-middle">
                                        {{ application.full_name }}, {{ application.age }} {{ application.get_sex_display }}
                                    </a>
                                    &nbsp;&nbsp;
                                    <small class="text-dark-gray mr-2">Entry Type</small>
                                    <a href="#" class="d-flex align-items-middle">
                                        {{ application.get_entry_type_display }}
                                    </a>
                                </div>

                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <i class="fa fa-map-marker-alt icon-muted icon-20pt mr-2"></i>
                                <a href="#" class="text-body">{{ application.get_nationality_display }}</a>
                            </div>
                            <div class="col-auto d-flex align-items-center" style="min-width: 140px;">
                                <a href="javascript:void(0)" class="text-dark-gray">Is member?</a> &nbsp;
                                <img src="{% static 'images/logo-old.png' %}" width="40">
                                {% if application.is_member %}
                                  <i class="fa fa-user-check text-success icon-18pt ml-2"></i>
                                {% else %}
                                  <i class="fa fa-user-times text-danger icon-17pt ml-2"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
      {% if is_paginated %}
        <ul class="pagination mt-3">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" aria-label="Previous">
              <span aria-hidden="true" class="material-icons">chevron_left</span>
              <span>Prev</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true" class="material-icons">chevron_left</span>
              <span>Prev</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="1">
              <span>Page</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0)" aria-label="{{ page_obj.number }}">
              <span>{{ page_obj.number }}</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">
              <span>of</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}" aria-label="2">
              <span>{{ page_obj.paginator.num_pages }}</span>
            </a>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Next">
              <span>Next</span>
              <span aria-hidden="true" class="material-icons">chevron_right</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span>Next</span>
              <span aria-hidden="true" class="material-icons">chevron_right</span>
            </a>
          </li>
          {% endif %}
        </ul>
      {% endif %}

  </div>

{% endblock page_content %}
