{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block page_title %}
        {% endblock page_title %}
        &bull; ISPPME Staff Portal
    </title>

    <meta name="robots" content="noindex">

    {% block css %}

        <link type="text/css" href="{% static 'css/isppme-colors.css' %}" rel="stylesheet">

        <!-- Simplebar -->
        <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

        <!-- Font Awesome FREE Icons -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">


        <!-- Flatpickr -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.rtl.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.rtl.css' %}" rel="stylesheet">

        <!-- Vector Maps -->
        <link type="text/css" href="{% static 'slack-assets/vendor/jqvmap/jqvmap.min.css' %}" rel="stylesheet">

        <!-- Toastr -->
        <link type="text/css" href="{% static 'slack-assets/vendor/toastr.min.css' %}" rel="stylesheet">
    {% endblock %}

</head>

<body class="layout-default">
<div class="preloader"></div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
        <div class="mdk-header__content">

            <div class="navbar navbar-expand-sm navbar-main navbar-light bg-light  pr-0" id="navbar" data-primary>
                <div class="container-fluid p-0">

                    <!-- Navbar toggler -->

                    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
                            data-toggle="sidebar">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <!-- Navbar Brand -->
                    <a href="{% host_url 'dashboard' host 'staff' %}" class="navbar-brand ">
                        <img style="    width: 60px;" src="{% static 'images/byo.webp' %}" class="mr-3" width="110" alt="">
                        <span class="text-isppme"></span>
                    </a>


                    <!--<form class="search-form d-none d-sm-flex flex" action="">-->
                    <!--    <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>-->
                    <!--    <input type="text" class="form-control" placeholder="Search">-->
                    <!--</form>-->


                    <ul class="nav navbar-nav ml-auto d-none d-md-flex">
                        <li class="nav-item">
                            <a href="mailto:percival.rapha@gmail.com" class="nav-link">
                                <i class="material-icons">help_outline</i> Get Help
                            </a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                        <li class="nav-item dropdown">
                            <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               data-caret="false">
                                <!-- <img src="{% static 'slack-assets/images/avatar/demi.png' %}" class="rounded-circle" width="32" alt="Frontted"> -->
                                <i class="fa fa-user-circle"></i>
                                <span class="ml-1 d-flex-inline">
                    <span class="text-light">{{ user }}.</span>
                  </span>
                            </a>
                            <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item-text dropdown-item-text--lh">
                                    <div><strong>{{ user.display_name }}</strong></div>
                                    <div>{{ user.email }}</div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a>
                                <a class="dropdown-item" href="{% host_url 'change_password' host 'staff' %}">Change
                                    Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% host_url 'logout' host 'staff' %}">Logout</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">

        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page">
                {% block page_content %}

                {% endblock page_content %}
            </div>
            <!-- // END drawer-layout__content -->

            <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                <div class="mdk-drawer__content">
                    <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
                        <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-underline-0 text-body">
                  <span class="flex d-flex flex-column">
                    <strong>{{ user.username }}</strong>
                    <small class="text-muted text-uppercase">{{ user.email }}</small>
                  </span>
                            </a>
                            <div class="dropdown ml-auto">
                                <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i
                                        class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong>{{ user }}</strong></div>
                                        <div>{{ user.email }}</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% host_url 'change_password' host 'staff' %}">Change
                                        Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% host_url 'logout' host 'staff' %}">Logout</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-heading sidebar-m-t">Menu</div>
                        <ul class="sidebar-menu">
                            <li class="sidebar-menu-item {% block dashboard_lnk %}{% endblock %}">
                                <a class="sidebar-menu-button" data-toggle="collapse"
                                   href="{% host_url 'dashboard' host 'staff' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                                    <span class="sidebar-menu-text">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                        <div class="sidebar-heading">Applications</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="applications_menu">
                                <li class="sidebar-menu-item
                                                {% block application_listings_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'application_listings' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">recent_actors</i>
                                        <span class="sidebar-menu-text">All Applications</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-heading">Courses</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block course_listing_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'course_list' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            receipt
                                        </i>
                                        <span class="sidebar-menu-text">Courses</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item {% block module_listing_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'module_list' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            folder_open
                                        </i>
                                        <span class="sidebar-menu-text">Modules</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item {% block exams_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'exam_list' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            developer_board
                                        </i>
                                        <span class="sidebar-menu-text">Exam Timetable</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item {% block exam_calendar_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'exam_calendar' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            event
                                        </i>
                                        <span class="sidebar-menu-text">Exam Calendar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-heading">Students</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block student_listings_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button" href="{% host_url 'student_list' host 'staff' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">school</i>
                                        <span class="sidebar-menu-text">All Students</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-heading">Teachers</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block add_tutor_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'create_teacher' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person_add</i>
                                        <span class="sidebar-menu-text">Add Teacher</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item {% block teacher_listings_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'teacher_listing' host 'staff' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">view_comfy</i>
                                        <span class="sidebar-menu-text">All Teachers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {#              <div class="sidebar-heading">Accounts</div>#}
                        {#              <div class="sidebar-block p-0">#}
                        {#                <ul class="sidebar-menu" id="components_menu">#}
                        {#                  <li class="sidebar-menu-item {% block transaction_listings_lnk %}{% endblock %}">#}
                        {#                    <a class="sidebar-menu-button" href="{% host_url 'transaction_list' host 'staff' %}">#}
                        {#                      <i class="sidebar-menu-icon icon-10pt sidebar-menu-icon--left fa fa-file-alt"></i>#}
                        {#                      <span class="sidebar-menu-text">Payment Transaction Log</span>#}
                        {#                    </a>#}
                        {#                  </li>#}
                        {#                  <li class="sidebar-menu-item {% block registration_payments_listings_lnk %}{% endblock %}">#}
                        {#                    <a class="sidebar-menu-button" href="{% host_url 'registration_payment_list' host 'staff' %}">#}
                        {#                      <i class="sidebar-menu-icon icon-10pt sidebar-menu-icon--left fa fa-file-prescription"></i>#}
                        {#                      <span class="sidebar-menu-text">Registration Payments</span>#}
                        {#                    </a>#}
                        {#                  </li>#}
                        {#                  <li class="sidebar-menu-item {% block student_accounts_lnk %}{% endblock %}">#}
                        {#                    <a class="sidebar-menu-button" href="{% host_url 'student_accounts' host 'staff' %}">#}
                        {#                      <i class="sidebar-menu-icon icon-10pt sidebar-menu-icon--left fa fa-file-invoice-dollar"></i>#}
                        {#                      <span class="sidebar-menu-text">Student Accounts Ledger</span>#}
                        {#                    </a>#}
                        {#                  </li>#}
                        {#                </ul>#}
                        {#              </div>#}
                        <div class="sidebar-heading">Settings</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block change_password_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'change_password' host 'staff' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">
                                            settings_applications
                                        </i>
                                        <span class="sidebar-menu-text">Change Password</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END drawer-layout -->

    </div>
    <!-- // END header-layout__content -->

</div>
<!-- // END header-layout -->

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>


    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

    <!-- Global Settings -->
    <script src="{% static 'slack-assets/js/settings.js' %}"></script>

    <!-- Vector Maps -->
    <script src="{% static 'slack-assets/vendor/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'slack-assets/js/vector-maps.js' %}"></script>
    <!-- Toastr -->
    <script src="{% static 'slack-assets/vendor/toastr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/toastr.js' %}"></script>
    <script type="text/javascript">
        {% for message in messages %}
            {% if message.tags == "alert-info" %}
                toastr.info("{{ message }}");
            {% elif message.tags == "alert-danger" %}
                toastr.error("{{ message }}");
            {% elif message.tags == "alert-success" %}
                toastr.success("{{ message }}");
            {% elif message.tags == "alert-warning" %}
                toastr.warning("{{ message }}");
            {% endif %}
        {% endfor %}
    </script>
{% endblock js %}
</body>

</html>
