{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}
    {{ course }}
{% endblock %}
{% block course_listing_lnk %}active{% endblock %}
{% block page_content %}
    <div class="container-fluid page__heading-container">
        <div class="page__heading">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Courses</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
                </ol>
            </nav>

            <h1 class="m-0">{{ course }}</h1>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="row mt-4">
            <div class="col-lg">
                <div class="card shadow-none border-left border-top border-right">
                    <div class="card-header card-header-large bg-white d-flex align-items-center">
                        <h4 class="card-header__title flex m-0">Semester Setup</h4>

                    </div>
                    <div class="card-header card-header-tabs-basic nav" role="tablist">
                        {% for setup in course.semester_setup.all %}
                            <a href="#sem{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}
                               data-toggle="tab" role="tab"
                               aria-controls="sem{{ forloop.counter }}"
                               {% if forloop.first %}aria-selected="true"{% endif %}>
                                Semester {{ setup.semester_no|apnumber }}
                            </a>
                        {% empty %}
                            <span class="my-3">
                                No records found.
                            </span>
                        {% endfor %}
                    </div>
                    <div class="list-group tab-content list-group-flush">
                        {% for setup in course.semester_setup.all %}
                            <div class="tab-pane {% if forloop.first %}active show fade{% endif %}"
                                 id="sem{{ forloop.counter }}">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex align-items-center bg-white px-2 text-left mb-4 mt-2 border-top border-bottom ">
                                                <div class="border-right pr-4 mr-4">
                                                    <div class="mb-0">Modules</div>
                                                    <div class="text-amount">{{ setup.get_modules_for_semester.count }}</div>
                                                </div>
                                                <div>
                                                    <div class="mb-0">Training Fee</div>
                                                    <div class="text-amount">${{ setup.fee|intcomma }}</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="z-0">
                                                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                                    <li class="nav-item">
                                                        <a href="#set{{ setup.pk }}modules"
                                                           class="nav-link nav-pills active" data-toggle="tab"
                                                           role="tab" aria-controls="reg{{ registration.pk }}modules"
                                                           aria-selected="true">
                                                            <span class="nav-link__count">
                                                                Modules
                                                            </span>
                                                            {{ setup.get_modules_for_semester.count }}
                                                        </a>
                                                    </li>
                                                    {#                                                    <li class="nav-item">#}
                                                    {#                                                        <a href="#set{{ setup.pk }}financials" class="nav-link"#}
                                                    {#                                                           data-toggle="tab" role="tab"#}
                                                    {#                                                           aria-selected="false">#}
                                                    {#                                                            <span class="nav-link__count">Financials</span>#}
                                                    {#                                                            ${{ registration.balance|intcomma }}#}
                                                    {##}
                                                    {#                                                        </a>#}
                                                    {#                                                    </li>#}
                                                    {#                                                    <li class="nav-item">#}
                                                    {#                                                        <a href="#reg{{ registration.pk }}results"#}
                                                    {#                                                           class="nav-link {% if registration.balance > 0 %} disabled {% endif %}"#}
                                                    {#                                                           data-toggle="tab"#}
                                                    {#                                                           role="tab" aria-selected="false">#}
                                                    {#                                                            <span class="nav-link__count">Results</span>#}
                                                    {#                                                            {% if registration.balance > 0 %}#}
                                                    {#                                                                Locked#}
                                                    {#                                                            {% else %}#}
                                                    {#                                                                For {{ registration.modules.count }} modules#}
                                                    {#                                                            {% endif %}#}
                                                    {##}
                                                    {#                                                        </a>#}
                                                    {#                                                    </li>#}
                                                </ul>
                                                <div class="card shadow-none">
                                                    <div class="card-body tab-content">
                                                        <div class="tab-pane active show fade"
                                                             id="set{{ setup.pk }}modules">
                                                            <ul class="list-group">
                                                                {% for module in setup.get_modules_for_semester %}
                                                                    <li class="list-group-item d-flex align-items-center">
                                                                        <div class="flex">
                                                                            <a href="#"
                                                                               class="card-header__title d-flex mb-1">
                                                                                {{ module.module.name }}
                                                                            </a>
                                                                            <div class="text-muted">
                                                                                {{ module.module.code }}
                                                                            </div>
                                                                            <div>
                                                                                {% if module.compulsory %}
                                                                                    Compulsory
                                                                                {% else %}
                                                                                    Non-Compulsory
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex">
                                                                            <div class="card-header__title text-muted mb-1 d-flex">
                                                                                Contribution
                                                                            </div>
                                                                            <span class="text-primary">Exam:</span>
                                                                            <span class="text-muted">{{ module.module.exam_contribution }}%</span>
                                                                            <span class="text-muted">&bull;</span>
                                                                            <span class="text-primary">Continuous Assessment:</span>
                                                                            <span class="text-muted">{{ module.module.continuous_assessment_contribution }}%</span>
                                                                            <div class="card-header__title text-muted mt-2 mb-1 d-flex">
                                                                                Metrics
                                                                            </div>
                                                                            <span class="text-primary">Current Students:</span>
                                                                            <span class="text-muted">
                                    {{ module.module.current_semester_students|default:"N/A"|intcomma }}
                                </span>
                                                                        </div>
                                                                    </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                        {% comment %}
                                                        <div class="tab-pane" id="reg{{ registration.pk }}financials">
                                                            <table class="table table-striped mt-4">
                                                                <caption>Debit Entries</caption>
                                                                <thead>
                                                                <tr>
                                                                    <th>Summary</th>
                                                                    <th align="right">Amount</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for entry in registration.debit_ledger_entries.all %}
                                                                    <tr>
                                                                        <td>{{ entry.narration }}</td>
                                                                        <td align="right">
                                                                            <strong>${{ entry.amount }}</strong></td>
                                                                        <td>
                                                                            {% if not entry.paid and registration.modules_confirmed %}
                                                                                <a class="btn btn-success btn-sm"
                                                                                   href="{% host_url 'prepare_payment' entry.uuid_id host 'students' %}">
                                                                                    Pay
                                                                                </a>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td align="center" colspan="2">
                                                                            <i class="text-muted">Nothing found.</i>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            <hr>
                                                            <table class="table table-hover">
                                                                <caption>Credit Entries</caption>
                                                                <thead>
                                                                <tr>
                                                                    <th>Summary</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for entry in registration.credit_ledger_entries.all %}
                                                                    <tr>
                                                                        <td>{{ entry.narration }}</td>
                                                                        <td align="right">
                                                                            <strong>${{ entry.amount }}</strong></td>
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td align="center" colspan="2">
                                                                            <i class="text-muted">Nothing found.</i>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane"
                                                             id="reg{{ registration.pk }}results">
                                                            {% if registration.balance > 0 %}
                                                                Please pay US${{ registration.balance|intcomma }} to
                                                                view results.
                                                            {% else %}
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered table-striped">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Module Code</th>
                                                                            <th>Module Name</th>
                                                                            <th>Score</th>
                                                                            <th>Class</th>
                                                                            <th>Decision</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for md in registration.modules.all %}
                                                                            <tr>
                                                                                <td>{{ md.module.code|upper }}</td>
                                                                                <td>{{ md.module.name }}</td>
                                                                                <td>{{ md.score }}</td>
                                                                                <td>{{ md.classification }}</td>
                                                                                <td>{{ md.decision }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
