{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}
    Course Listings
{% endblock %}
{% block course_listing_lnk %}active{% endblock %}
{% block page_content %}
    <div class="container-fluid page__heading-container">
        <div class="page__heading">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active" aria-current="page">Courses</li>
                </ol>
            </nav>

            <h1 class="m-0">Courses</h1>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row card-group-row  pt-2">
            {% for course in courses %}
                <div class="col-12 card-group-row__col">
                    <div class="card shadow-none card-group-row__card">
                        <div class="card-body-x-lg card-body d-flex flex-row align-items-right">
                            <div class="flex">
                                <div class="card-header__title text-muted mb-2 d-flex">
                                    {{ course.award }}
                                </div>
                                <a href="{% host_url 'course_detail' course.uuid_id host 'staff' %}" class="h6 m-0">{{ course.course_name }}</a>
                            </div>
                            <div class="flex">

                                <div class="card-header__title text-muted mb-1 d-flex">Duration</div>
                                <span class="text-primary">{{ course.sem2duration }} months</span>
                                <div class="card-header__title text-muted mt-3 d-flex">Semesters</div>
                                <span class="text-primary">{{ course.semesters }}</span>
                                <div class="card-header__title text-muted mt-3 d-flex">Requirements</div>
                                <p class="text-primary">{{ course.requirements_markdownified|safe }}</p>

                            </div>
                        </div>
                        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
{#                            <a class="btn btn-outline-primary"#}
{#                               href="">#}
{#                                <i class="fa fa-layer-group"></i>#}
{#                                View Assignments#}
{#                            </a>#}
{#                            <a class="btn btn-outline-success ml-2"#}
{#                               href="">#}
{#                                <i class="fa fa-plus-circle"></i>#}
{#                                Assignment#}
{#                            </a>#}
                        </div>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
