{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Create Exam : {{ module }} {% endblock %}
{% block exams_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Add Exam</div>
                </div>

                <span class="lead text-white my-2">Exam Creation</span>
                <h4 class="text-white mb-0">{{ module }}</h4>
            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid page__container">

        <div class="row">
            <div class="col-md-4 order-12">

                <div class="card">
                    <ul class="list-group list-lessons">
                        <li class="list-group-item d-flex align-items-center active">
                            <div>
                                <a href="javascript:void(0)">{{ discussion.module_ref.code|upper }}</a>
                                <div class="text-muted">
                                    {{ discussion.module_ref.name }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">

                <h4 class="mt-4">Enter Details</h4>
                {% crispy form %}

            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
{% endblock js %}
