{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Create Tutor {% endblock %}
{% block add_tutor_lnk %}active{% endblock %}
{% block page_content %}
<div class="container-fluid page__heading-container">
    <div class="page__heading">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
                <li class="breadcrumb-item">Tutors</li>
                <li class="breadcrumb-item active" aria-current="page">Add Tutor</li>
            </ol>
        </nav>

        <h1 class="m-0">Create Teacher Record</h1>
    </div>
</div>



<div class="container-fluid page__container">
  <div class="card shadow-none card-form">
      <div class="row no-gutters">
          <div class="col-lg-4 card-body">
              <p><strong class="headings-color">Create Tutor</strong></p>
              <p class="text-muted">
                  Create a tutor record in the database. A unique ID will be assigned to
                  the record created and the tutor will use that to create his/her account
                  on the tutor portal. This id can be retrieved from the tutor record overview
                  once created.
              </p>
          </div>
          <div class="col-lg-6 card-form__body card-body">
              {% crispy form %}
          </div>
          <div class="col-lg-2 card-form__body card-body">
          </div>
      </div>
  </div>
</div>

{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- Flatpickr -->
<script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
