{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Exams {% endblock %}
{% block exams_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Exams</div>
                </div>
                <h4 class="text-white mb-0">Exams</h4>
                <span class="lead text-white my-2">{{ SEMESTER.start_datetime|date }} - {{ SEMESTER.end_datetime|date }}</span>
                <div class="mt-1">
                    <a href="{% host_url 'exam_calendar' host 'staff' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="material-icons">event</i>
                        Calendar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card shadow-none">
                    <h4 class="card-header text-muted bg-white">
                        Exam Timetable
                    </h4>
                    <div class="card-body">
                        <table class="table table-bordsered table-striped">
                            <thead>
                            <tr>
                                <th>Module Code</th>
                                <th>Module Name</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exam in exams %}
                                {{ exam.prefetch_related }}
                                <tr>
                                    <td>{{ exam.module.code }}</td>
                                    <td>{{ exam.module.name }}</td>
                                    <td>
                                        {{ exam.write_datetime|date }}
                                        at {{ exam.write_datetime|time:"h:i a" }} <br>
                                        <span class="text-muted">{{ exam.write_datetime|naturaltime }}</span>
                                    </td>
                                    <td>
                                        <a class="text-primary"
                                           href="{% host_url 'edit_exam' exam.uuid_id host 'staff' %}">
                                            <i class="fa fa-pen-alt"></i> Edit
                                        </a>
                                        &bull;
                                        <a class="text-danger"
                                           href="{% host_url 'edit_exam' exam.uuid_id host 'staff' %}">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
