{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% block page_content %}

  <div class="container-fluid page__heading-container">
      <div class="page__heading d-flex align-items-center">
          <div class="flex">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="{% host_url 'application_listings' host 'staff' %}">Applications</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        PDF Viewer
                      </li>
                  </ol>
              </nav>
              <h4 class="m-0">
                <i clas='fa fa-file-pdf'></i> PDF Viewer: {{ file_name }}
              </h4>
          </div>
          <!--<a href="#" class="btn btn-success ml-3">New Report</a>-->
      </div>
  </div>
  
  <div class="container-fluid page__container">
    <div id="pdf-canvas" style="width: 100%; height: 100%;">
    
    </div>
  </div>
{% endblock page_content %}

{% block js %}
  {{ block.super }}
  <script src="http://mozilla.github.io/pdf.js/build/pdf.js"></script>
  
  <script>
    // If absolute URL from the remote server is provided, configure the CORS
    // header on that server.
    var url = '{{ url }}';
    
    // Loaded via <script> tag, create shortcut to access PDF.js exports.
    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    
    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
    
    // Asynchronous download of PDF
    var loadingTask = pdfjsLib.getDocument(url);
    loadingTask.promise.then(function(pdf) {
      console.log('PDF loaded');
      
      // Fetch the first page
      var pageNumber = 1;
      pdf.getPage(pageNumber).then(function(page) {
        console.log('Page loaded');
        
        var scale = 1.5;
        var viewport = page.getViewport({scale: scale});
    
        // Prepare canvas using PDF page dimensions
        var canvas = document.getElementById('pdf-canvas');
        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;
    
        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: context,
          viewport: viewport
        };
        var renderTask = page.render(renderContext);
        renderTask.promise.then(function () {
          console.log('Page rendered');
        });
      });
    }, function (reason) {
      // PDF loading error
      console.error(reason);
    });
  </script>
{% endblock js %}
