{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Registration Payments Archive {% endblock %}
{% block registration_payments_listings_lnk %}active{% endblock %}
{% block page_content %}
<div class="container-fluid page__container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="{%host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Registration Payments</li>
        </ol>
      </nav>
      <h1 class="m-0">Registration Payments Archive</h1>
    </div>
    <!-- <a href="#" class="btn btn-success ml-3">Add Product</a> -->
  </div>
</div>
<div class="container-fluid page__container">
  <div class="card">
      <div class="card-header">
          <form class="form-inline" action="" method="get">
              {{ filter.form.application__first_name|as_crispy_field }}
              &nbsp;
              {{ filter.form.application__last_name|as_crispy_field }}
              &nbsp;
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Filter</button>
              </div>
          </form>
      </div>

      <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

          <table class="table mb-0 thead-border-top-0">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Applicant</th>
                      <th>Course</th>
                      <th>Transaction ID</th>
                      <th>Completed?</th>
                      <th>Initiated</th>
                      <th>Modified</th>
                  </tr>
              </thead>
              <tbody class="list" id="registrations">
                  {% for reg in object_list %}
                    <tr>
                        <td>
                          {{ reg.uuid_id }}
                        </td>

                        <td>
                          <a href="{% host_url 'single_application' reg.application.uuid_id host 'staff' %}">
                            {{ reg.application.full_name }}
                          </a>
                        </td>

                        <td>{{ reg.application.course }}</td>
                        <td>{{ reg.transaction.uuid_id }}</td>
                        <td>
                            {% if reg.transaction.completed %}
                              <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                              <i class="fa fa-times-circle text-danger"></i>
                            {% endif %}
                        </td>
                        <td><small class="text-muted">{{ reg.created|naturaltime }}</small></td>
                        <td><small class="text-muted">{{ reg.modified }}</small></td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="10" align="center">
                        <span class="text-muted">Nothing to show.</span>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% if is_paginated %}
        <div class="card-body text-right">
          {% if page_obj.has_previous %}
            <a href="?{% param_replace page=page_obj.previous_page_number %}" class="text-muted-light">
              <i class="fa fa-arrow-left mr-2"></i>
            </a>
          {% else %}
            <a href="javascript:void(0)" class="text-muted-light disabled">
              <i class="fa fa-arrow-left mr-2"></i>
            </a>
          {% endif %}
            {{ page_obj.number }} <span class="text-muted">of {{ page_obj.paginator.num_pages }}</span>
          {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number %}" class="text-muted-light">
              <i class="fa fa-arrow-right ml-1"></i>
            </a>
          {% else %}
            <a href="javascript:void(0)" class="text-muted-light">
              <i class="fa fa-arrow-right ml-1"></i>
            </a>
          {% endif %}
        </div>
      {% endif %}

  </div>
</div>
{% endblock page_content %}

{% block js %}
{{ block.super }}
<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
