{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Student Accounts {% endblock %}
{% block student_accounts_lnk %}active{% endblock %}
{% block page_content %}
<div class="container-fluid page__container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="{%host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Student Accounts</li>
        </ol>
      </nav>
      <h1 class="m-0">Student Accounts Dashboard</h1>
    </div>
    <!-- <a href="#" class="btn btn-success ml-3">Add Product</a> -->
  </div>
</div>

<div class="container-fluid page__container">
    <div class="row card-group-row">
        <div class="col-lg-4 col-md-6 card-group-row__col">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <div class="flex">
                    <div class="card-header__title text-danger mb-2">Total Owing</div>
                    <div class="text-amount text-danger">&dollar;{{total_owing|floatformat:2|intcomma}}</div>
                </div>
                <div><i class="fa fa-exclamation-triangle text-danger icon-40pt"></i></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 card-group-row__col">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <div class="flex">
                    <div class="card-header__title text-success mb-2">Paid Total</div>
                    <div class="text-amount text-success">&dollar;{{ total_paid|floatformat:2|intcomma }}</div>
                </div>
                <div><i class="fa fa-dollar-sign text-success icon-40pt"></i></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 card-group-row__col">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <div class="flex">
                    <div class="card-header__title text-primary mb-2">Number of Accounts</div>
                    <div class="text-amount text-primary">{{ number_of_accounts|intcomma }}</div>
                </div>
                <div><i class="fa fa-file-invoice text-primary icon-40pt"></i></div>
            </div>
        </div>
    </div>
    <div class="card card-form d-flex flex-column flex-sm-row">
      <div class="card-form__body card-body-form-group flex">
        <form method="get" action="" id="custom_form">
          <div class="form-row">
            <div class="col-sm-4">
                {{ filter.form.created|as_crispy_field }}
            </div>
            <div class="col-sm-4">
              {{ filter.form.account__reg_number|as_crispy_field }}
            </div>
            <div class="col-sm-4">
                {{ filter.form.narration|as_crispy_field }}
            </div>


          </div>
        </form>
      </div>
      <button onclick="$('#custom_form').submit();" class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0">
        <i class="material-icons text-primary">refresh</i>
      </button>
    </div>
    {% for entry in object_list %}
      {% ifchanged entry.created|date %}
          <p class="text-dark-gray d-flex align-items-center mt-3">
            <i class="material-icons icon-muted mr-2">event</i>
            <strong>{{ entry.created|date:"l, d M 'y" }}</strong>
          </p>
      {% endifchanged %}
      {% if forloop.first %}
          <div class="row align-items-center projects-item mb-1">
              <div class="col-sm-auto mb-1 mb-sm-0">
                  <div class="text-dark-gray" style="visibility: hidden;">{{ entry.created|time:"h:i A" }}</div>
              </div>
              <div class="col-sm">
                  <div class="card m-0">
                      <div class="px-4 py-3">
                          <div class="row align-items-center">
                              <div class="col" style="min-width: 250px">
                                  <div class="d-flex align-items-center">
                                      <strong class="text-15pt text-primary mr-2">
                                        <i>Narration</i>
                                      </strong>
                                  </div>

                                  <div class="d-flex align-items-center">
                                      <small class="text-dark-gray mr-2">Account</small>
                                  </div>

                              </div>
                              <div class="col-auto d-flex align-items-center min-width: 140px; border-right">
                                  <strong class="lead text-primary">Debit (US $)</strong>
                              </div>
                              <div class="col-auto d-flex align-items-center border-left" style="min-width: 140px;">
                                  <strong class="lead text-primary">Credit (US $)</strong>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}
      <div class="row align-items-center projects-item mb-1">
          <div class="col-sm-auto mb-1 mb-sm-0">
              <div class="text-dark-gray">{{ entry.created|time:"h:i A" }}</div>
          </div>
          <div class="col-sm">
              <div class="card m-0">
                  <div class="px-4 py-3">
                      <div class="row align-items-center">
                          <div class="col" style="min-width: 250px">
                              <div class="d-flex align-items-center">
                                  <strong class="text-15pt text-muted mr-2">
                                    <i>{{ entry.narration }}</i>
                                  </strong>
                              </div>

                              <div class="d-flex align-items-center">
                                  <small class="text-dark-gray mr-2">Account:</small>
                                  <a href="{% host_url 'student_detail' entry.account.uuid_id host 'staff' %}" class="d-flex align-items-middle">
                                      {{ entry.account }}
                                  </a>
                              </div>

                          </div>
                          <div class="col-auto d-flex align-items-center min-width: 140px; border-right">
                              {% if entry.debit %}
                                <strong>{{ entry.debit|floatformat:2|intcomma }}</strong>
                              {% endif %}
                          </div>
                          <div class="col-auto d-flex align-items-center border-left" style="min-width: 140px;">
                            {% if entry.credit %}
                              <strong>{{ entry.credit|floatformat:2|intcomma }}</strong>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% empty %}
      <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="d-flex justify-content-center flex-column text-center my-2 navbar-light">
                    <h4 class="text-muted"><i>Nothing to show</i></h4>
                </div>
            </div>
        </div>
      </div>
    {% endfor %}
    {% if is_paginated %}
      <div class="row">
          <div class="col-md-12 offset-md-2">
              <div class="px-3">
                  <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
                      <ul class="pagination mt-3">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                          </a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="1">
                            <span>Page</span>
                          </a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="javascript:void(0)" aria-label="{{ page_obj.number }}">
                            <span>{{ page_obj.number }}</span>
                          </a>
                        </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">
                            <span>of</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}" aria-label="2">
                            <span>{{ page_obj.paginator.num_pages }}</span>
                          </a>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
        </div>
    {% endif %}
</div>

{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- Flatpickr -->
<script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
