{% extends 'staff/base.html' %}
{% load static %}
{% load humanize %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %} {{ student.reg_number }} - {{ student.full_name }} {% endblock %}
{% block student_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div style="padding-bottom: calc(5.125rem / 2); position: relative; margin-bottom: 1.5rem;">
        <div class="bg-primary" style="min-height: 150px;">
            <div class="d-flex align-items-end container-fluid page__container"
                 style="position: absolute; left: 0; right: 0; bottom: 0;">
                <div class="avatar avatar-xl">
                    <span class="avatar-title roudnded-circle">{{ student.initials }}</span>
                </div>
                <div class="card-header card-header-tabs-basic nav flex" role="tablist">
                    <a href="#record" class="active show" data-toggle="tab" role="tab" aria-controls="record"
                       aria-selected="true">Record</a>
                    <a href="#financials" data-toggle="tab" role="tab" aria-controls="financials" aria-selected="false">Financials</a>
                    <a href="#enrollments" data-toggle="tab" role="tab" aria-controls="enrollments"
                       aria-selected="false">Enrollment Records</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h4 mb-1">{{ student.full_name }}</h1>
                <p class="text-muted">{{ student.reg_number }}</p>
                <div class="text-muted d-flex align-items-center">
                    <i class="material-icons mr-1">location_on</i>
                    <div class="flex">{{ student.nationality }}</div>
                    <div class="flex">{{ student.contact_address }}</div>
                </div>
                <hr>
                <a href="mailto:{{ student.email_address }}" class="btn btn-warning mt-3 mb-3 btn-block">
                    <i class="fa fa-envelope"></i> &nbsp;Send Mail.
                </a>
                <hr>
                {% if student.application_reference %}
                    <a href="{% host_url 'single_application' student.application_reference.uuid_id host 'staff' %}">
                        <i class="fa fa-external-link-alt"></i> Application Ref.
                    </a>
                {% endif %}
            </div>

            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="record">
                        <div class="card shadow-none">
                            <div class="px-4 py-3">
                                <div class="d-flex mb-1">
                                    <div class="avatar avatar-sm mr-3">
                                        <span class="avatar-title">{{ student.initials }}</span>
                                    </div>
                                    <div class="flex">
                                        <div class="d-flex align-items-center mb-1">
                                            <strong class="lead text-15pst">{{ student.full_name }}</strong>
                                            <small class="ml-2 text-muted">{{ student.created|naturaltime }}</small>
                                        </div>
                                        <hr>
                                        <div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <dl>
                                                        <dt class="text-muted">Reg. Number</dt>
                                                        <dd class="lead mb-3">{{ student.reg_number }}</dd>
                                                        <dt class="text-muted">Sex, Age</dt>
                                                        <dd class="lead mb-3">{{ student.get_sex_display }}, {{ student.age }}</dd>
                                                        <dt class="text-muted">Place of birth</dt>
                                                        <dd class="lead mb-3">{{ student.place_of_birth }}</dd>
                                                        <dt class="text-muted">National ID</dt>
                                                        <dd class="lead mb-3">{{ student.national_id|default:"N/A" }}</dd>
                                                        <dt class="text-muted">Passport No.</dt>
                                                        <dd class="lead mb-3">{{ student.passport_number|default:"N/A" }}</dd>
                                                        <dt class="text-muted">Place of birth</dt>
                                                        <dd class="lead mb-3">{{ student.place_of_birth }}</dd>
                                                        <dt class="text-muted">Nationality</dt>
                                                        <dd class="lead mb-3">{{ student.nationality }}</dd>
                                                        <dt class="text-muted">Country of permanent residence</dt>
                                                        <dd class="lead mb-3">{{ student.country_of_permanent_residence }}</dd>
                                                        <dt class="text-muted">Contact Address</dt>
                                                        <dd class="lead mb-3">{{ student.contact_address }}</dd>
                                                        <dt class="text-muted">Tel. Number</dt>
                                                        <dd class="lead mb-3">{{ student.telephone_number|default:"N/A" }}</dd>
                                                        <dt class="text-muted">Mobile No.</dt>
                                                        <dd class="lead mb-3">{{ student.mobile_number|default:"N/A" }}</dd>
                                                        <dt class="text-muted">FAX</dt>
                                                        <dd class="lead mb-3">{{ student.fax|default:"N/A" }}</dd>
                                                        <dt class="text-muted">Email address</dt>
                                                        <dd class="lead mb-3">{{ student.email_address|default:"N/A" }}</dd>
                                                        <dt class="text-muted">ISPPME Member?</dt>
                                                        <dd class="lead mb-3">{{ student.is_member|yesno|capfirst }}</dd>

                                                    </dl>
                                                </div>
                                                <div class="col-6">
                                                    <ul style="list-style-type: none;">
                                                        <h6 class="text-muted lead"><i class="fa fa-info-circle"></i>
                                                            Meta</h6>
                                                        <hr>
                                                        <li>Created:</li>
                                                        <li><span class="text-muted">{{ student.created }}</span></li>
                                                        <li>Last modified:</li>
                                                        <li><span class="text-muted">{{ student.modified }}</span></li>
                                                        <li>Last login:</li>
                                                        <li><span
                                                                class="text-muted">{{ student.user.last_login }}</span>
                                                        </li>
                                                        <li>Application Ref:</li>
                                                        <li>
                                                            {% if student.application_reference %}
                                                                <a href="{% host_url 'single_application' student.application_reference.uuid_id host 'staff' %}">
                                                                    <span class="text-muted">{{ student.application_reference.uuid_id }}</span>
                                                                </a>
                                                            {% else %}
                                                                <span class="text-muted">n/a</span>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="financials">
                        <div class="card shadow-none">
                            <div class="card-header card-header-large bg-white d-flex align-items-center">
                                <h4 class="card-header__title flex m-0 lead">Financial Record Log</h4>
                                Balance :
                                {% if student.balance > 0 %}
                                    <strong class="text-danger">USD ${{ student.balance }}</strong>
                                {% else %}
                                    <strong class="text-success">
                                        USD ${{ student.balance }}
                                    </strong>
                                {% endif %}
                            </div>

                        </div>
                        <div class="card-header card-header-tabs-basic nav" role="tablist">
                            <a href="#debit" class="active" data-toggle="tab" role="tab" aria-controls="debit"
                               aria-selected="true">Debit</a>
                            <a href="#credit" data-toggle="tab" role="tab" aria-controls="credit" aria-selected="false">Credit(Payments)</a>
                        </div>
                        <div class="list-group tab-content list-group-flush">
                            <div class="tab-pane active show fade" id="debit">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Narration</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for entry in student.get_debit_ledger_entries %}
                                        <tr>
                                            <td>{{ entry.created }}</td>
                                            <td>{{ entry.narration }}</td>
                                            <td>{{ entry.amount }}</td>
                                            <td>
                                                {% if entry.paid %}
                                                    <i class="fa fa-check-circle text-success"></i> Paid
                                                {% else %}
                                                    <i class="fa fa-times-circle text-danger"></i> Unpaid
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="credit">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Narration</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for entry in student.get_credit_ledger_entries %}
                                        <tr>
                                            <td>{{ entry.narration }}</td>
                                            <td>{{ entry.amount }}</td>
                                            <td>{{ entry.created }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="enrollments">
                        {% for enr in student.enrollments.all %}
                            <div class="card shadow-none m-0">
                                <div class="px-4 py-3">
                                    <div class="row align-items-center">
                                        <div class="col" style="min-width: 300px">
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="text-body">
                                                    <strong class="text-15pt mr-2">
                                                        #{{ forloop.counter }} - {{ enr.course }}
                                                    </strong>
                                                </a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <small class="text-dark-gray mr-2">Enrolled</small>
                                                <span>{{ enr.created|date }}</span>
                                            </div>
                                        </div>
                                        {#                                        <div class="col-auto d-flex align-items-center">#}
                                        {#                                            <a href="#" class="text-body">Michael S.</a>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
