{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Student Records {% endblock %}
{% block student_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div class="container-fluid page__container">
        <div class="page__heading d-flex align-items-center">
            <div class="flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% host_url 'dashboard' host 'staff' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Students</li>
                    </ol>
                </nav>
                <h1 class="m-0">Students Records</h1>
            </div>
            <!-- <a href="#" class="btn btn-success ml-3">Add Product</a> -->
        </div>
    </div>
    <div class="container-fluid page__container">
        <div class="card shadow-none card-form d-flex flex-column flex-sm-row">
            <div class="card-form__body card-body-form-group flex">
                <form method="get" action="" id="filter_form">
                    <div class="form-row">
                        <div class="col-sm-3">
                            {{ filter.form.reg_number|as_crispy_field }}
                        </div>
                        <div class="col-sm-5">
                            {{ filter.form.name|as_crispy_field }}
                        </div>
                        <div class="col-sm-2">
                            {{ filter.form.sex|as_crispy_field }}
                        </div>
                        <div class="col-sm-2">
                            {{ filter.form.is_member|as_crispy_field }}
                        </div>
                    </div>
                </form>
            </div>
            <button onclick="$('#filter_form').submit();"
                    class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0">
                <i class="material-icons text-primary">refresh</i>
            </button>
        </div>


        <div class="card shadow-none card-form">
            <div class="no-gutters">
                <div class="card-form__body">
                    <div class="table-responsive border-bottom" data-toggle="lists"
                         data-lists-values='["reg_number", "course", "name", "sex", "age", "nationality", "balance"]'>

                        <div class="search-form search-form--light m-3">
                            <input type="text" class="form-control search" placeholder="Search">
                            <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                            </button>
                        </div>

                        <table class="table mb-0 thead-border-top-0">
                            <thead>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)" class="sort" data-sort="reg_number">Reg Number</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" class="sort" data-sort="name">Name</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort" data-sort="course">Course(s)</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" class="sort" data-sort="sex">Sex</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" class="sort" data-sort="age">Age</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" class="sort" data-sort="nationality">Nationality</a>
                                </th>
                                <th style="">
                                    <a href="javascript:void(0)" class="sort" data-sort="balance">Balance</a>
                                </th>
                                <th style=""></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="enrollmentsTbl">
                            {% for student in object_list %}
                                <tr>
                                    <td class="reg_number">
                                        <a href="{% host_url 'student_detail' student.uuid_id host 'staff' %}">
                                            {{ student.reg_number }}
                                        </a>
                                    </td>
                                    <td class="name">{{ student.name }}</td>
                                    <td class="course">{{ student.courses }}</td>
                                    <td class="sex">{{ student.sex }}</td>
                                    <td class="age">{{ student.age }}</td>
                                    <td class="nationality">{{ student.get_nationality_display|default:"N\A" }}</td>
                                    <td class="balance">
                                        {% if student.balance > 0 %}
                                            <strong class="text-danger">US ${{ student.balance }}</strong>
                                        {% else %}
                                            <strong class="text-success">US ${{ student.balance }}</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" align=center>
                                        <strong class="text-muted">Nothing to show.</strong>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <ul class="pagination mt-3">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% param_replace page=page_obj.previous_page_number %}"
                                           aria-label="Previous">
                                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                                            <span>Prev</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                                            <span>Prev</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="1">
                                        <span>Page</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)" aria-label="{{ page_obj.number }}">
                                        <span>{{ page_obj.number }}</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        <span>of</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="2">
                                        <span>{{ page_obj.paginator.num_pages }}</span>
                                    </a>
                                </li>
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}"
                                           aria-label="Next">
                                            <span>Next</span>
                                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span>Next</span>
                                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
    <script>
        <!--
        var options = {
            valueNames: ['student_name', 'qualification', 'course', 'semester',]
        };
        var userList = new List('enrollments', options);
        -->
    </script>
{% endblock js %}
