{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Teacher Records {% endblock %}
{% block teacher_listings_lnk %}active{% endblock %}
{% block page_content %}
<div class="container-fluid page__heading-container">
    <div class="page__heading">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">Teachers</li>
            </ol>
        </nav>

        <h1 class="m-0">Teacher Records</h1>
    </div>
</div>


<div class="container-fluid page__container">
  <div class="card shadow-none">
      <div class="card-header border-top border-bottom border-right border-left">
          <form class="form-inline" action="" method="get">
              {{ filter.form.first_name|as_crispy_field }}
              &nbsp;
              {{ filter.form.last_name|as_crispy_field }}
              &nbsp;
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Filter</button>
              </div>
          </form>
      </div>

      <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["id", "title","first_name", "last_name", "sex", "created", "module_count"]'>

          <table class="table mb-0 thead-border-top-0">
              <thead>
                  <tr>
                      <th><a href="javascript:void(0)" class="sort" data-sort="id">id</a></th>
                      <th><a href="javascript:void(0)" class="sort" data-sort="title">Title</a></th>
                      <th><a href="javascript:void(0)" class="sort" data-sort="first_name">First name</a></th>
                      <th><a href="javascript:void(0)" class="sort" data-sort="last_name">Last name</a></th>
                      <th><a href="javascript:void(0)" class="sort" data-sort="module_count">Modules Taught</a></th>
                      <th><a href="javascript:void(0)" class="sort" data-sort="created">Created</a></th>
                  </tr>
              </thead>
              <tbody class="list" id="tutors">
                  {% for teacher in teachers %}
                    <tr>
                        <td class="id">{{ teacher.id }}</td>
                        <td class="title">
                          {{ teacher.get_title_display }}
                        </td>
                        <td class="first_name">
                          <a href="{% host_url 'teacher_detail' teacher.uuid_id host 'staff' %}">
                            {{ teacher.first_name }}
                          </a>
                        </td>
                        <td class="last_name">{{ teacher.last_name }}</td>
                        <td class="module_count">{{ teacher.module_count }}</td>
                        <td class="created">{{ teacher.created }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="6" align="center">
                        <span class="text-muted">Nothing to show.</span>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% if is_paginated %}
        <div class="card-body text-right">
          {% if page_obj.has_previous %}
            <a href="?{% param_replace page=page_obj.previous_page_number %}" class="text-muted-light">
              <i class="fa fa-arrow-left mr-2"></i>
            </a>
          {% else %}
            <a href="javascript:void(0)" class="text-muted-light disabled">
              <i class="fa fa-arrow-left mr-2"></i>
            </a>
          {% endif %}
            {{ page_obj.number }} <span class="text-muted">of {{ page_obj.paginator.num_pages }}</span>
          {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number %}" class="text-muted-light">
              <i class="fa fa-arrow-right ml-1"></i>
            </a>
          {% else %}
            <a href="javascript:void(0)" class="text-muted-light">
              <i class="fa fa-arrow-right ml-1"></i>
            </a>
          {% endif %}
        </div>
      {% endif %}

  </div>
</div>

{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- Flatpickr -->
<script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
