{% extends 'staff/base.html' %}
{% load static %}
{% load humanize %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %} {{ teacher.last_name }} {{ teacher.first_name }} {% endblock %}
{% block teacher_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div style="padding-bottom: calc(5.125rem / 2); position: relative; margin-bottom: 1.5rem;">
        <div class="bg-primary" style="min-height: 150px;">
            <div class="d-flex align-items-end container-fluid page__container"
                 style="position: absolute; left: 0; right: 0; bottom: 0;">
                <div class="avatar avatar-xl">
                    <span class="avatar-title roudnded-circle">{{ teacher.first_name|slice:1 }}{{ teacher.last_name|slice:1 }}</span>
                </div>
                <div class="card-header card-header-tabs-basic nav flex" role="tablist">
                    <a href="#record" class="active show" data-toggle="tab" role="tab" aria-controls="record"
                       aria-selected="true">Record</a>
                    <a href="#modules" data-toggle="tab" role="tab" aria-controls="modules" aria-selected="false">Modules</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h4 mb-1">{{ teacher.full_name }}</h1>
                <p class="text-muted">id: @{{ teacher.id }}</p>
                <p>{{ teacher.qualifications }}</p>
                <a class="btn btn-primary" href="{% host_url 'edit_teacher' teacher.uuid_id host 'staff' %}">
                    <i class="fa fa-pencil-alt"></i> Edit Record <br>
                    <small>(Remove or Add Modules here)</small>
                </a>
            </div>

            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="record">
                        <div class="card">
                            <div class="px-4 py-3">
                                <div class="d-flex mb-1">
                                    <div class="avatar avatar-sm mr-3">
                                        <span class="avatar-title roudnded-circle">{{ teacher.first_name|slice:1 }}{{ teacher.last_name|slice:1 }}</span>
                                    </div>
                                    <div class="flex">
                                        <div class="d-flex align-items-center mb-1">
                                            <strong class="lead text-15pst">{{ teacher.full_name }}</strong>
                                            <small class="ml-2 text-muted">{{ teacher.created|naturaltime }}</small>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-6">
                                                <dl>
                                                    <dt class="text-muted">ISPPME ID</dt>
                                                    <dd class="lead mb-3">{{ teacher.id }}</dd>
                                                    <dt class="text-muted">Sex</dt>
                                                    <dd class="lead mb-3">{{ teacher.get_sex_display }}</dd>
                                                    <dt class="text-muted">Qualifications</dt>
                                                    <dd class="lead mb-3">{{ teacher.qualifications }}</dd>
                                                    <dt class="text-muted">Modules Taught</dt>
                                                    <dd class="lead mb-3">{{ teacher.module_count }}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-6">
                                                <ul style="list-style-type: none;">
                                                    <h6 class="text-muted lead"><i class="fa fa-info-circle"></i> Meta
                                                    </h6>
                                                    <hr>
                                                    <li>Created:</li>
                                                    <li><span class="text-muted">{{ teacher.created }}</span></li>
                                                    <li>Last modified:</li>
                                                    <li><span class="text-muted">{{ teacher.modified }}</span></li>
                                                    <li>Last login:</li>
                                                    <li><span
                                                            class="text-muted">{{ teacher.user.last_login|default:"N/A" }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="modules">
                        <div class="card">
                            <div class="card-header card-header-large bg-white d-flex align-items-center">
                                <h4 class="card-header__title flex m-0 lead">Modules</h4>
                                Count : {{ teacher.module_count }}
                            </div>
                            <div class="card-header card-header-tabs-basic nav" role="tablist">
                                <a href="#all" class="active" data-toggle="tab" role="tab" aria-controls="all"
                                   aria-selected="true">All</a>
                            </div>
                            <div class="list-group tab-content list-group-flush">
                                <div class="tab-pane active show fade" id="all">
                                    {% for module in teacher.modules.all %}
                                        <div class="list-group-item list-group-item-action d-flex align-items-center ">
                                            <div class="avatar avatar-sm mr-3">
                            <span class="avatar-title rounded-circle bg-primary">
                              {{ forloop.counter }}
                            </span>
                                            </div>
                                            <div class="flex">
                                                <div class="d-flex align-items-middle">
                                                    <strong class="text-15pt mr-1">{{ module.name }}</strong>
                                                </div>
                                                <span class="text-muted">{{ module.code }}</span>
                                            </div>
                                            <div class="lead">{{ module.code }}</div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
