{% extends 'staff/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} {{ teacher }} | Edit {% endblock %}
{% block teacher_listings_lnk %}active{% endblock %}
{% block page_content %}
<div class="container-fluid page__heading-container">
    <div class="page__heading">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
                <li class="breadcrumb-item">Teachers</li>
                <li class="breadcrumb-item active" aria-current="page">Edit Teacher</li>
            </ol>
        </nav>

        <h1 class="m-0">Edit: <span class="text-primary">{{ teacher }}</span>'s Record</h1>
    </div>
</div>



<div class="container-fluid page__container">
  <div class="card card-form">
      <div class="row no-gutters">
          <div class="col-lg-3 card-body">
              <p><strong class="headings-color">Editing <span class="text-primary">{{ teacher }}'s</span> record</strong></p>
              <p class="text-muted">
                  Use this form to update a tutor's details, from names and qualifications to modules taught.
                  To add modules to a tutor, press and hols <strong>CTRL</strong> and click on the module you'd like to add
                  to a tutor's record.
              </p>
          </div>
          <div class="col-lg-9 card-form__body card-body">
              {% crispy form %}
          </div>
      </div>
  </div>
</div>

{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- Flatpickr -->
<script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
