{% extends 'website/base.html' %}
{% block page_title %}
    About Us
{% endblock %}
{% block about_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">About Us</h2>

        <a class="share-link fl-r" href="javascript:void(0)"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="post-item P30 bg-0">
                <h2 class="h1 title">Who are we?</h2>

                <p>
                    <strong>
                        ISPPME is a professional association of people with an interest in personnel,
                        training and human resources, who want to improve their knowledge of, and skill
                        in, professional personnel practices and principles. The Institute promotes
                        professionalism by establishing appropriate qualifications, defining codes of
                        conduct, promoting research, spreading knowledge of personnel and training
                        management and labour relations, and liaising with relevant authorities in regard to
                        professional manpower policies and practices.
                    </strong>
                </p>

                <p>
                    The Institute offers educational programmes of preparatory professional education
                    by correspondence, in the fields of personnel management, training management,
                    labour relations and, at higher levels, human resource management. Each
                    correspondence course take approximately 12 months of part-time study. After
                    successful completion of a series of assignments and three-hour examinations,
                    candidates receive ISPPME Diplomas. A certificate is issued for each subject passed
                    at both Diploma and Higher Diploma level. Higher Diploma students must not
                    only pass eight subjects of study, but also successfully complete a dissertation by
                    research.
                </p>
                <p>
                    ISPPME also offers annual conferences for the purpose of continuing professional
                    education, to refresh skills and update people on developments in the field of
                    human resources. The annual National Convention is the most important event in
                    the Institute's efforts to ensure the continuing professional development of its
                    members
                </p>
                {##}
                {#                <div class="row">#}
                {#                    <div class="col-xs-12 col-md-6 col-lg-4">#}
                {#                        <h5>Our Vision</h5>#}
                {##}
                {#                        #}
                {#                    </div>#}
                {##}
                {#                    <div class="col-xs-12 col-md-6 col-lg-4">#}
                {#                        <h5>Our Mission</h5>#}
                {##}
                {#                        <p>#}
                {#                            The Institute of Sustainable Project Planning and Management in collaboration#}
                {#                            with its partners provides high quality, student centric, experiential innovative#}
                {#                            education, to grow, thrive, and prosper projects, by inspiring intellectual and#}
                {#                            personal growth in our students, preparing them for meaningful and ethical#}
                {#                            contributions to sustainable project planning and management#}
                {#                        </p>#}
                {#                    </div>#}
                {##}
                {#                    <div class="col-xs-12 col-lg-4">#}
                {#                        <h5>Research</h5>#}
                {##}
                {#                        <p>#}
                {#                            Ladies handmade reserved noble erling property blissfull in expensive marquis.#}
                {#                        </p>#}
                {##}
                {#                        <p>#}
                {#                            A diamond ballroom treasure diamond delegate. Diamond solid wealth classical benefiting#}
                {#                            first-class.#}
                {#                        </p>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="post-item P30">
                <h2 class="h1 title">Our Vision</h2>

                <p>
                    Institute of Sustainable Project Planning, Management and Evaluation will be recognized
                    internationally as a premier college providing excellence in education, project
                    sustainability, workforce training, partnerships, economic development, in a
                    rapidly advancing world, using technology to broaden and support learning
                    opportunities.
                </p>

                <h2 class="h1 title">Our Mission</h2>

                <p>
                    The Institute of Sustainable Project Planning and Management in collaboration
                    with its partners provides high quality, student centric, experiential innovative
                    education, to grow, thrive, and prosper projects, by inspiring intellectual and
                    personal growth in our students, preparing them for meaningful and ethical
                    contributions to sustainable project planning and management
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="post-item text-block P30 bg-4">
                <h2 class="h1 title">Our Core Values</h2>

                <p class="">
                    Built on the vision that sustainable project planning and management serves as a
                    keystone in developing society and building better futures for all, we commit to
                    our core values of:</p>

                <div class="row" style="margin-top: 0 !important;">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h5 class="title">Excellence</h5>

                        <p>
                            We commit to the highest professional standards of quality, integrity,
                            and performance in our programs, services, and operations including innovation in
                            our teaching, research, and outreach with continuous self-improvement to achieve
                            excellence in all our endeavors. We demonstrate Excellence by setting and
                            pursuing high standards of professionalism and competency by:
                        <ul class="" style="list-style: circle !important; margin-top: 0 !important;">
                            <li style="margin-left: 20px !important;">Providing exceptional service to all while
                                demonstrating pride in our work
                            </li>
                            <li style="margin-left: 20px !important;">Welcoming new challenges and seeking opportunities
                                for growth and
                                development
                            </li>
                            <li style="margin-left: 20px !important;">Encouraging and empowering each of us to achieve
                                our best
                            </li>
                        </ul>

                        <h5 class="title">Respect and Integrity</h5>

                        <p class="mt-5">We acknowledge the value and dignity of each member of the college family
                            and choose to treat one another as we want to be treated as well as support an
                            honest and ethical environment by:
                        <ul class="" style="list-style: circle !important; margin-top: 0 !important;">
                            <li style="margin-left: 20px !important;">Encouraging multiple perspectives</li>
                            <li style="margin-left: 20px !important;">Valuing and celebrating the uniqueness of
                                individuals and their strengths
                            </li>
                            <li style="margin-left: 20px !important;">Respecting confidentiality and acting in a
                                trustworthy manner
                            </li>
                            <li style="margin-left: 20px !important;">Being accountable for our actions and adhering to
                                policies and procedures
                            </li>
                            <li style="margin-left: 20px !important;">Making decisions that are fiscally and socially
                                responsible
                            </li>
                        </ul>

                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h5 class="title">Student Focus</h5>

                        <p>
                            We are committed to fostering the professional and personal growth of all students
                            and our fellow colleagues by promoting lifelong learning and leadership
                            development. These interests are the primary focus of college decisions and
                            activities.
                        </p>

                        <h5>Collaboration and Public Engagement</h5>
                        <p>We commit to working collegially and cooperatively in establishing productive
                            partnerships with our colleagues in experiential innovative education, university,
                            corporate, nonprofit, and public communities. Through these partnerships, we
                            strive to improve education and the quality of life to ensure a better future for all.
                            We demonstrate Collaboration and Public Engagement by working internally and
                            externally toward shared goals to create a more positive outcome by: </p>

                        <h5 class="title">Creativity</h5>
                        <p>We nurture an environment that seeks innovative solutions to challenges
                            through exploration, analysis, experimentation, and adaptation</p>

                        <h5 class="title">Accountability</h5>
                        <p>We engage data-driven decision-making and assessment of performance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
