{% load static %}
{% load hosts %}
<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <title>
        {% block page_title %}{% endblock %}
        &bull; ISPPME
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.html">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.html">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.html">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'uni/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'uni/css/responsive.css' %}" type="text/css">

    <!-- / color -->
    <link class="colors_style" rel="stylesheet" href="{% static 'uni/css/color_style/color_4.css' %}" type="text/css"/>
    <!-- / google font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>


    <!-- Load jQuery
    ================================================== -->
    <script type="text/javascript" src="{% static 'uni/js/modernizr.custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'uni/js/device.min.js' %}"></script>


    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">


</head>

<body class="bg-1">
<div id="main" class="container-fluid">
    <header id="header">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="header-item bg-0">
                    <div class="line">
                        <a href="{% host_url 'index' host 'www' %}"
                           style="background-image: none !important; left: -30px;" id="header-logo" class="jsite-logo">
                            <img src="{% static 'images/logo-old.png' %}" width="180" alt="">
                        </a>

                        <a href="{% host_url 'index' host 'applications' %}" class="custom-btn colored">
                            Apply to ISPPME
                        </a>
                    </div>

                    <div class="line">
                        <p id="header-slogan">Sphere of excellence and sustainability</p>

                        <div class="social-btn">
                            <a class="icon-twitter-bird" href="#"></a>
                            <a class="icon-linkedin-rect" href="#"></a>
                            <a class="icon-facebook-rect" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="header-item bg-5">
                    <a id="menu-open" class="" href="javascript:void(0);">Open Menu<span></span></a>

                    <nav id="navigation" class="header-menu">
                        <ul>
                            <li class="{% block home_lnk %}{% endblock %}">
                                <a href="{% host_url 'index' host 'www' %}"><i class="icon-graduation-cap"></i> Home</a>
                            </li>

                            <li class="{% block courses_lnk %}{% endblock %}">
                                <a href="{% host_url 'courses' host 'www' %}">Courses</a>
                            </li>

                            <li class="{% block events_lnk %}{% endblock %}">
                                <a href="{% host_url 'events' host 'www' %}">Events</a>
                            </li>
                            <li class="{% block downloads_lnk %}{% endblock %}">
                                <a href="{% host_url 'downloads' host 'www' %}">
                                    Downloads
                                </a>
                            </li>
                            <li class="{% block about_lnk %}{% endblock about_lnk %}">
                                <a href="{% host_url 'about_us' host 'www' %}">About Us</a>
                            </li>

                            <li class="{% block contact_lnk %}{% endblock contact_lnk %}">
                                <a href="{% host_url 'contact_us' host 'www' %}">Contact</a>
                            </li>
                        </ul>
                    </nav>

                    <nav id="submenu" class="header-menu bg-7">
                        <ul>
                            <li class="{% block membership_lnk %}{% endblock %}">
                                <a href="{% host_url 'membership' host 'www' %}">Membership</a>
                            </li>
                            <li class="{% block women_desk_lnk %}{% endblock %}">
                                <a href="{% host_url 'women_desk' host 'www' %}">
                                    <i class="fa fa-home"></i> Women's Desk
                                </a>
                            </li>
                            <li><a href="{% host_url 'login' host 'teachers' %}">Tutors Portal</a></li>
                            <li><a href="{% host_url 'login' host 'students' %}">Students Portal</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="main-content">
        <div class="container">
            {% block page_content %}

            {% endblock page_content %}
        </div>
        <div class="row">
            <footer id="footer">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer-item P30 bg-0">
                        <a href="{% host_url 'index' host 'www' %}" id="dfooter-logo" class="szite-logo">
                            <img width="150" src="{% static 'images/logo-old.png' %}" alt="">
                        </a>

                        <p id="" style="color: #000; padding-top: 5px;">Sphere of excellence and sustainability</p>

                        <div class="social-btn el-bottom">
                            <a class="icon-twitter-bird" href="#"></a>
                            <a class="icon-linkedin-rect" href="#"></a>
                            <a class="icon-facebook-rect" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="footer-item P30 bg-4">
                        <h5>
                            <small>Get in Touch</small>
                        </h5>

                        <p>211 Brackenhurst, Phillip Rd, Gweru, Zimbabwe</p>

                        <p class="el-bottom">
                            P:+263 77 229 0290<br/>
                            P:+254 70 864 6695<br/>
                            P:+263 71 356 7164<br/>
                            E: <a href="mailto:info@isppme.com">info@isppme.com</a>
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="footer-item P30 bg-2">
                        <h5>
                            <small>Our Twitter</small>
                        </h5>

                        <p>Stay in the loop by following our twitter feed</p>

                        <p class="el-bottom"><a href="#">Follow Us</a></p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer-item footer-item_subscribe P30 bg-1">
                        <h5>
                            <small>Newsletter Subscription</small>
                        </h5>

                        <form id="footer-form" action="#">
                            <p>Please subscribe to our newsletters</p>

                            <input type="text"/>

                            <button type="submit"><i class="arrow"></i></button>
                        </form>

                        <p class="el-bottom">
                            &copy; {% now 'Y' %} Institute of Project Planning, Management and Evaluation. All rights
                            reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</div>

<section id="mobile-menu-container">
    <a href="index_2.html" id="header-logo_2" class="site-logo">University</a>

    <a id="menu-close" href="javascript:void(0);">Close Menu</a>

    <nav id="mobile-navigation" class="mobile-menu">
        <ul>
            <li>
                <a href="#">Faculties</a>

                <div class="dropdown">
                    <ul>
                        <li><a href="faculties_1.html">Faculties 1</a></li>
                        <li><a href="faculties_2.html">Faculties 2</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="academics.html">Academics</a>
            </li>

            <li>
                <a href="#">Courses</a>

                <div class="dropdown">
                    <ul>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="courses_details.html">Courses Details</a></li>
                    </ul>
                </div>
            </li>

            <li class="current">
                <a href="#">Pages</a>

                <div class="dropdown">
                    <ul>
                        <li class="current"><a href="about.html">About Us</a></li>
                        <li><a href="index_2.html">Home 2</a></li>
                        <li><a href="login_2.html">Login 2</a></li>
                        <li><a href="typography.html">Typography</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>

    <nav id="mobile-submenu">
        <ul>
            <li><a href="campus_locations.html">Campus and locations</a></li>
            <li><a href="directory.html">Directory</a></li>
            <li><a href="study_advice.html">Study advice</a></li>
            <li><a href="login.html"><i class="icon-user"></i>Login</a></li>
        </ul>
    </nav>
</section>

<script type="text/javascript" src="{% static 'uni/js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.matchHeight-min.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.superslides.min.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.fs.boxer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.easing.js' %}"></script>
<script type="text/javascript" src="{% static 'uni/js/jquery.main.js' %}"></script>
</body>
</html>
