{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Contact Us
{% endblock %}
{% block contact_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">Contact Us</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d32448.800354571707!2d29.800590180040345!3d-19.465369768344807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sBrackenhurst+Gweru!5e0!3m2!1sen!2szw!4v1560177895146!5m2!1sen!2szw"
                height="350" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="info-item box P30 bg-7 corner">
                <h1>Contact Form</h1>

                <form id="contact_form" class="info-form" method="POST"
                      action="">
                    {% csrf_token %}
                    <p>
                        Enter a message here if you'd like to enquire more.
                    </p>

                    <input type="text" placeholder="Please Enter Your Name" name="user_name"/>

                    <input type="text" placeholder="Your Email *" name="email"/>

                    <textarea placeholder="Your Message" name="user_message"></textarea>

                    <button class="small base-text-color" type="submit" id="sbmt">send</button>

                    <div class="form-message bg-2" style="display: none;">
                        <p class="success"></p>
                        <p class="error"></p>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-xs-12 col-md-6">
            <div class="post-item P30">
                <h2 class="title">Stay connected</h2>

                <p>
                    Architectural pleasure university politically echelon portfolio de-jour brilliant private engraved.
                    Gilded is the best butler blissfull investments de-jour tailored presidential. Art career brilliant
                    opera society polo presidential. Stockmarket grande cruise solid gilded travel.
                </p>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5>Contacts</h5>

                        <div style="font-size: 13px;">
                            <p>
                                211 Brackenhurst, Phillip Rd, Gweru, Zimbabwe
                            </p>

                            <p>
                                P:+263 77 229 0290<br/>
                                P:+254 70 864 6695<br/>
                                P:+263 71 356 7164<br/>
                                E: <a href="mailto:info@isppme.com">info@isppme.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5>Admission</h5>

                        <p>
                            All applications are done online. Follow this link to go to the <a
                                href="{% host_url 'index' host 'applications' %}">Applications Portal</a> and see the
                            courses currently being offered by ISPPME.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <h5>Inquiries</h5>

                        <p>
                            All inquiries must be addressed to: <a
                                href="mailto:inquiry@isppme.com">inquiry@isppme.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
