{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Courses
{% endblock %}
{% block courses_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">Courses</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">
        {% for course in courses %}
            <div class="col-xs-12 col-md-6">
                <div class="block-courses_details clearfix bg-0">
                    <div class="col-xs-12 col-sm-3 col-md-5 col-lg-4">
                        <div class="column-description P30 bg-2 corner">
                            <h5>{{ course.award }}</h5>

                            <div class="text">
                                <p>
                                    {{ course }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9 col-md-7 col-lg-8">
                        <div class="P30">
                            <a href="{% host_url 'course_details' course.pk course|slugify %}">
                                <h2 class="title">{{ course.course_name }}</h2>
                            </a>

                            <p style="color: #aaa;" class="time title">{{ course.sem2duration }}<sup style="color: #aaa;">months</sup></p>

                            <p class="address">
                                <i class="icon-graduation-cap base-text-color"></i>

                                <span>Online Learning</span>
                            </p>

                            <p>
                                {{ course.requirements_markdownified|safe }}
                            </p>

                            <a href="{% host_url 'applicant_details' course.uuid_id course|slugify host 'applications' %}" class="custom-btn long colored">
                                Apply
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="text-block P30">
                <p class="title h1">University Conferences</p>

                <div class="text">
                    <p>
                        Presidential champagne purebred panoramic rich in treasure silk. Expensive gifted with portfolio
                        becoming first-class diplomatatic. Brokerage symbolizing champagne doctoral. Purebred suite
                        accredited educated board affluent sheer crafted topiary stockmarket.
                    </p>

                    <p>
                        Lifestyle brilliant five-star impresario gem grande upper a university european. Using gem
                        housekeeping imported gilded blissfull reserved. Opera marquis inspiring. Salon university
                        acumen. First-class private le wine regal cuisine european sheer politically a affluent.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row matchHeight-container">
        <div class="col-xs-12 col-md-6">
            <div class="block-courses_info P30 bg-2 box">
                <div class="date">
                    <p>04</p>

                    <p>September</p>
                </div>

                <div class="text">
                    <h2 class="title"><span>University</span> Active 2014</h2>

                    <p>
                        Price of attendance:<span>US$3,750</span>
                    </p>

                    <a href="#" class="custom-btn big">Apply Now</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="block-courses_info P30 bg-4 box">
                <div class="date">
                    <p>26</p>

                    <p>November</p>
                </div>

                <div class="text">
                    <h2 class="title"><span>Design</span> Construction 2013</h2>

                    <p>
                        Price of attendance:<span>US$2,130</span>
                    </p>

                    <a href="#" class="custom-btn big">Apply Now</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="block-courses_info P30 bg-2 box">
                <div class="date">
                    <p>19</p>

                    <p>September</p>
                </div>

                <div class="text">
                    <h2 class="title"><span>Mobile Design Course</span></h2>

                    <p>
                        Price of attendance:<span>US$2,150</span>
                    </p>

                    <a href="#" class="custom-btn big">Apply Now</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
