{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    {{ course }}
{% endblock %}
{% block courses_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">{{ course }}</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">

        <div class="col-xs-12 col-lg-6">
            <div class="block-courses_details clearfix bg-2">
                <div class="col-xs-12 col-sm-9 col-lg-8">
                    <div class="P30 text-white">
                        <h2 class="title" style="color: #fff;">Course Duration</h2>

                        <p class="time"  style="color: #fff;">{{  course.sem2duration }}<sup style="color: #aaa;">months</sup></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <div class="column-description P30 bg-4 corner">
                <h5>{{ course.award.name }}</h5>

                <div class="text">
                    <p>
                        {{ course }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
            <div class="block-courses_details block-courses_details_full P30 bg-0">
                <h2 class="title">{{ course.course_name }}</h2>

                <h6 class="title">About the Course</h6>

                {{ course.course_name.about_markdownified|safe }}
                <br>
                <br>
                <br>
                <a href="{% host_url 'applicant_details' course.uuid_id course|slugify host 'applications' %}"
                   class="custom-btn long colored">Apply</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-md-offset-3 col-lg-offset-2">
            <div class="column-description P30 bg-4 corner">
                <h5>Requirements</h5>

                <div class="text">
                    <p>
                        Course application prerequisites
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <div class="block-courses_details block-courses_details_full P30 bg-1">
                {{ course.requirements_markdownified|safe }}
            </div>
        </div>
    </div>
{% endblock %}
