{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Downloads
{% endblock %}
{% block downloads_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">Downloads</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>
    <style>
        ul {
            list-style: circle;
        }

        ul li {
            margin-left: 20px;
        }
    </style>
    <div class="row">
        {% for dlc in dlcs %}
            <div class="col-xs-12 col-md-6">
                <div class="post-item P30 bg-0">
                    <h2 class="title">{{ dlc.name|title }}</h2>
                    <ul>
                        {% for dl in dlc.downloads.all %}
                            <li>
                                <a href="{{ dl.file.url }}">{{ dl.name|title }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
