{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Events
{% endblock %}
{% block events_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">ISPPME Event Directory</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row matchHeight-container">
        {% for event in events %}
            <div class="col-xs-12 col-md-6">
                <div class="block-courses_info P30 {% cycle 'bg-2' 'bg-4' %} box">
                    <div class="date">
                        <p>{{ event.start_date|date:"d" }}</p>

                        <p>{{ event.start_date|date:"F" }}</p>
                    </div>

                    <div class="text">
                        <h2 class="title">{{ event.name }}</h2>

                        <p>
                            <i class="icon-location"></i> {{ event.venue }}
                        </p>

                        <a href="{% host_url 'event_details' event.pk event.name|slugify %}" class="custom-btn">
                            View Details
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
