{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Events &bull; {{ event.name }}
{% endblock %}
{% block events_lnk %}
current
{% endblock %}
{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">{{ event.name }}</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="block-courses block-with-date box">
                <img class="img-responsive" src="{% static 'uni/images/upcoming_3.jpg' %}" alt="">
                <div class="description">
                    <div class="inner">
                        <p class="title">Event Details</p>

                        <div class="date">
                            <span class="first number">{{ event.get_first_dn }}</span>

                            <span class="second number">{{ event.get_second_dn }}</span>

                            <span class="month">{{ event.start_date|date:"F"}}</span>
                        </div>

                        <div class="text">
                            <p>{{ event.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-6">
            <div class="block-courses_details clearfix bg-4">
                <div class="col-xs-12 col-sm-3 col-lg-4">
                    <div class="column-description P30 bg-2 corner">
                        <h5>Don’t Missout</h5>

                        <div class="text">
                            <p>
                                Add {{ event.name }} to your calendar so you don't miss it!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-8">
                    <div class="P30">
                        <h2 class="title">{{ event.name }}</h2>

                        <p class="time">
                            {{ event.start_time|time:"G" }}<sup>{{ event.start_time|time:"i" }}</sup> - {{ event.end_time|time:"G" }}<sup>{{ event.end_time|time:"i" }}</sup>
                        </p>

                        <p class="address">
                            <i class="icon-location base-text-color"></i>

                            <span>{{ event.venue }}</span>
                        </p>

                        <a href="javascript:history.back()" class="custom-btn big long colored">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <div class="column-description P30 bg-4 corner">
                <h5>Event Details</h5>

                <div class="text">
                    <p>
                        Detailed description about this event: {{ event.name }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
            <div class="block-courses_details block-courses_details_full P30 bg-0">
                <h2 class="title">{{ event.name }}</h2>

                {{ event.details_markdownified|safe }}

            </div>
        </div>
    </div>

{% endblock %}
