{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Home &bull; Institute of Sustainable Project Planning, Management and Evaluation
{% endblock %}
{% block home_lnk %}
current
{% endblock %}
{% block page_content %}
    <div class="row matchHeight-container">
        <div class="col-xs-12 col-md-6">
            <div class="content-slider-container bg-7 box">
                <div class="content-slider" data-animation="fade">
                    <div class="slides-container">
                        <div class="slide">
                            <img class="img-responsive" src="{% static 'uni/images/slide_img/slider_small_1.jpg' %}"
                                 alt="">

                            <div class="description">
                                <div class="inner">
                                    <p class="title">Enjoy the convenience of learning online</p>

                                    <p>
                                        ISPPME provides an online courses which is advantageous for students. All
                                        lectures and needed materials are provided via online platforms, so you’ll
                                        easily access them from the comfort of your home.
                                    </p>

                                    <a href="{% host_url 'login' host 'students' %}" class="custom-btn"><i
                                            class="icon-user"></i> Student Portal</a>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <img class="img-responsive" src="{% static 'uni/images/slide_img/slider_small_3.jpg' %}"
                                 alt="">

                            <div class="description">
                                <div class="inner">
                                    <p class="title">Inspiring Creativity</p>

                                    <p>
                                        We nurture an environment that seeks innovative solutions to challenges
                                        through exploration, analysis, experimentation, and adaptation.

                                    </p>

                                    <a href="{% host_url 'about_us' host 'www' %}" class="custom-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="block-courses block-with-date box">
                <img class="img-responsive hidden-md" src="{% static 'uni/images/upcoming_1.jpg' %}" alt="events"/>

                <img class="img-responsive visible-md" src="{% static 'uni/images/upcoming_1_1.jpg' %}" alt="events"/>

                <div class="description">
                    <div class="inner">
                        <p class="title">Featured Event</p>

                        <div class="date">
                            {% if event %}
                                <span class="first number">{{ event.get_first_dn }}</span>

                                <span class="second number">{{ event.get_second_dn }}</span>

                                <span class="month">{{ event.start_date|date:"F" }}</span>
                            {% else %}
                                <span class="first number">0</span>

                                <span class="second number">0</span>

                                <span class="month">Not Found</span>
                            {% endif %}
                        </div>

                        <div class="text">
                            {% if event %}
                                <p>{{ event.name }}</p>

                                <a href="{% host_url 'event_details' event.pk event.name|slugify %}" class="custom-btn">Learn
                                    More</a>
                            {% else %}
                                <p>No upcoming or features event.</p>

                                <a href="" class="custom-btn">Events Page</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row matchHeight-container">
        <div class="col-xs-12 col-md-12">
            <div class="text-block box P30 bg-0">
                <p class="title h1">Sphere of Excellency and Sustainability</p>

                <div class="text">
                    <p>
                        ISPPME is a professional association of people with an interest in personnel,
                        training and human resources, who want to improve their knowledge of, and skill
                        in, professional personnel practices and principles.
                    <p> The Institute promotes
                        professionalism by establishing appropriate qualifications, defining codes of
                        conduct, promoting research, spreading knowledge of personnel and training
                        management and labour relations, and liaising with relevant authorities in regard to
                        professional manpower policies and practices.
                    </p>
                </div>

                <a href="{% host_url 'about_us' host 'www' %}" class="more-link colored"><i class="arrow"></i>Learn more</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="info-container">
            <div class="col-xs-12 col-md-4">
                <div class="info-item P30 bg-7">
                    <h3 class="icon-graduation-cap"><span>Get Started</span></h3>

                    <p>
                        Apply online for any of our programs today and get your certificate or diploma in no time.
                    </p>

                    <p>
                        All admissions are done online, so make sure you fill out the form with veritable information.
                    </p>

                    <a href="{% host_url 'index' host 'applications' %}" class="more-link"><i class="arrow"></i>Apply Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="info-item P30 bg-5">
                    <h3 class="icon-user"><span>Become a Member</span></h3>

                    <p>
                        Become an ISPPME Member today and enjoy the benefits abound.
                    </p>

                    <a href="{% host_url 'membership' host 'www' %}" class="more-link"><i class="arrow"></i>Learn More</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
