{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Membership
{% endblock %}
{% block membership_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">ISPPME Membership</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row matchHeight-container">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-8">
            <div class="text-block box P30 bg-4 corner">
                <p class="title h1">Membership Types</p>

                <div class="text">
                    <p>
                        Listed and described below are the different membership types/classes currently being offered by
                        ISPPME as of {% now 'F, Y' %}. To apply for membership, first make sure you fit the acceptance
                        criterion for that membership class and send your filled membership application form to <a
                            href="mailto:membership@isppme.com">membership@isppme.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
            <div class="block-with-date box bg-7">
                <div class="description">
                    <div class="inner">
                        <div class="date">
                            <span class="first number">20</span>

                            <span class="second number">{% now 'y' %}</span>

                            <span class="month">Events</span>
                        </div>

                        <div class="text-center"><a href="{% host_url 'events' host 'www' %}"
                                                    class="custom-btn">Browse</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="post-item">
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-2">
                <div class="column-description box P30 bg-2 corner">
                    <h5>CORPORATE<br>MEMBERSHIP</h5>

                    <div class="text">
                        <p>
                            Those companies wishing to participate in the activities of the Institute with a view
                            to raise the level of development and participation of the HR profession in the
                            management of business and commerce in Zimbabwe

                        </p>
                    </div>
                </div>
            </div>
            <style>
                ul {
                    list-style-type: circle;
                }

                ul li {
                    margin-bottom: 5px;
                    margin-left: 20px;
                }
            </style>
            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
                <div class="P30 bg-0">
                    <h2 class="title">Benefits</h2>

                    <p>
                    <ul>
                        <li>You will be entitled to always bring 2 banners and promotional brochures at
                            all ISPPM functions and events free of charge (GOLD MEMBER)
                        </li>
                        <li>You are automatically entitled to a 5% discount at all functions and events
                            hosted by the Institute of Project Planning and Management
                        </li>
                        <li>You will be given a Corporate Membership certificate for display at your
                            organization
                        </li>
                        <li>You will also be entitled to 3 copies of the Manpower Magazine free of
                            charge and a 5% discount on any advert placed therein
                        </li>
                        <li>Networking platform with other HR practitioners like Annual Convention,
                            breakfast meetings at membership rates
                        </li>
                        <li>Opportunity to develop your people management skills through attending
                            our continuous professional development programs
                        </li>
                        <li>Being part of a professional body that promotes HR excellence and
                            professionalism to the highest level. HR employees will be kept up to date
                            with developments in their field
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="post-item">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div class="column-description box P30 bg-2 corner">
                    <h5>FELLOW</h5>

                    <div class="text">
                        <p>
                            This is the highest grade of primary membership and is applicable to full members
                            who are in good standing, and are actually working at strategic level in the field of people
                            management and development.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
                <div class="P30 bg-0">
                    <h4 class="title">Additionally, National Council shall only
                        confer this grade to a member who can show that:</h4>

                    <p>
                    <ul>
                        <li> He has been a full member of the Institute continuously for an unbroken
                            period of eight years; or an aggregate period of ten years
                        </li>
                        <li>Holds at least a Human Resources Diploma or relevant higher qualification
                            from an institute recognized by the Institute
                        </li>
                        <li>He has worked in the people management and development field at policy
                            making level for not less than eight years, or an aggregate of ten years
                        </li>
                        <li>He has benefited from Continuing Professional Development (CPD) during
                            the immediate past three years or longer, and can prove at least three days or
                            twenty-one hours of CPD for each of those years
                        </li>
                    </ul>

                    <h3 class="title" style="margin-top: 20px; margin-bottom: 0px;">HONORARY FELLOW</h3>
                    <p>
                    <ul style="margin-top: 0px;">
                        <li> In exceptional circumstances, the National Council may, as recognition and
                            honor of a person who has established an outstanding reputation in the
                            management and development of people; and has rendered outstanding
                            service to the Institute, confer Honorary Membership on such person
                        </li>
                        <li>Honorary membership may only be held on the terms and conditions
                            Council may set from time to time, and at the pleasure of the National
                            Council.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="post-item">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div class="column-description box P30 bg-2 corner">
                    <h5>MEMBER</h5>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
                <div class="P30 bg-0">
                    <h5 class="title">The council may confer the member status to a person who can prove that he:</h5>

                    <p>
                    <ul>
                        <li>Holds a diploma or higher qualification in people management and development
                            from an institute recognized by the National Council; and
                        </li>
                        <li>Is currently engaged in the work of people management and development in a
                            management or advisory capacity
                        </li>
                        <li>
                            Has worked in management or advisory level in people management and
                            development for at least three years

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="post-item">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div class="column-description box P30 bg-2 corner">
                    <h5>ASSOCIATE</h5>

                    <div class="text">
                        <p>
                            These are registered human resource professionals in current practice and in good
                            standing
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
                <div class="P30 bg-0">
                    <h5 class="title">A prospective student who is not already a member of ISPPME must: </h5>

                    <p>
                    <ul>
                        <li>Apply for membership of the Institute of Sustainance Project Planning,
                            Management and Evaluation (forms are available from the ISPPME offices in Gweru and
                            Our branches & can be downloaded from this website ) Application Form or
                            you can Register Online.
                        </li>
                        <li>
                            Pay the Joining Fee
                        </li>
                        <li>
                            Apply to enroll as a student
                        </li>
                        <li>Pay the Student Enrolment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
