{% extends 'website/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
    Women's Desk
{% endblock %}
{% block women_desk_lnk %}
    current
{% endblock %}

{% block page_content %}
    <div class="page-title P30">
        <h2 class="fl-l">Women's Desk</h2>

        <a class="share-link fl-r" href="#"><i class="icon-export"></i>Share</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="content-intro"
                 style="background:url({% static 'images/womens.jpg' %}); background-position: bottom">
                <div class="inner">
                    <p>Advice Center</p>
                    <p class="title">Women's Desk</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="post-item P30">
                <h2 class="h1 title">Women's Desk</h2>

                <p>
                    The women‘s Desk is a gender mainstreaming experience in a public policy .In addition the project is
                    an example of a process by which local institutions and services have appropriated gender
                    mainstreaming, method in economic integration policies.
                </p>

                <h6>The project seeks the active involvement of women in local development, through:</h6>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h5>Improved access</h5>
                        <p>
                            Improved access for women to local services in region by providing them with information
                            relating to all existing services, provided by both public services and associations.
                        </p>
                        <h5>Network</h5>
                        <p>
                            By implementation of a network of local services to improve the quality of life of women in
                            the oriental region
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h5>Data Collection</h5>
                        <p>The collection of data and information and production and dissemination of the analysis
                            studies research, surveys and statistics on the situation of women in the various provinces
                            and municipalities in the region.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="block-courses_details clearfix bg-0">
                <div class="col-xs-12 col-sm-3 col-md-5 col-lg-4">
                    <div class="column-description P30 bg-4 corner">
                        <h5>Aim</h5>
                        <p>Aims and Objective(s) of our Women's Desk programme.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-8">
                    <div class="P30">
                        <h2 class="title">
                            Women’s desk aims to be a space for consultation and coordination between the various local
                            services in the oriental region in order to improve the services provided for the women
                            beneficiaries.
                        </h2>

                        <p>
                            As ISPPME will provide a range of services, starting with comprehensive
                            care for women in precarious ,situation, listening to them on their problems and needs
                            ,providing them with information and referring them to either the relevant local services in
                            case of legal, health ,socio-cultural , educational problems ,or to the appropriate services
                            for job seeking, projects engagement and socio professional integration
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
