{% extends 'applications/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% block page_title %}
    Application acknowledgement
{% endblock %}
{% block page_content %}
    <div class="container page__container">
        <div class="card card-form">
            <div class="row no-gutters">
                <div class="col-lg-8 card-body">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                <img width="240" src="{% static 'images/byo.webp' %}"
                            </p>
                            <p><strong class="headings-color">Application Acknowledgement</strong></p>
                            <p class="text-muted">
                                The application for <strong>{{ application.course }}</strong> was reviewed and accepted.
                                This page serves to inform the applicant to confirm their interest in pursuing this
                                course by paying clicking the acknowledge button and following the next steps.
                            </p>
                        </div>
                        <div class="col-6">
                            <p><strong class="headings-color lead">Applicant Details</strong></p>
                            <hr>
                            <p class="text-danger">
                                <strong>Warning:</strong> Only proceed with acknowledgement if this
                                application belongs to you.
                            </p>
                            <p class="text-muted">
                            <dl>
                                <dt class="text-muted">Title</dt>
                                <dd class="lead">{{ application.get_title_display }}.</dd>

                                <dt class="text-muted">Full name(s)</dt>
                                <dd class="lead">{{ application.first_name }} {{ application.last_name }}</dd>

                                <dt class="text-muted">Sex, Age</dt>
                                <dd class="lead">
                                    {{ application.get_sex_display }}, {{ application.age }}
                                    ({{ application.date_of_birth }})
                                </dd>

                                <dt class="text-muted">Nationality</dt>
                                <dd class="lead">
                                    {{ application.get_nationality_display }}
                                </dd>

                            </dl>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 card-form__body card-body">
                    <div class="card-header__title text-muted mb-2">Course</div>
                    <div class="lead">{{ application.course }}</div>
                    <hr>

                    <p>
                        By clicking "Acknowledge", you agree to the Bulawayo Polytechnic Terms of Service and confirm that
                        the information displayed on this page concerns you as the applicant.
                    </p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" value="1" name="acknowledge">
                        <button href="#" class="btn btn-primary btn-block">
                            Acknowledge
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
