{% extends 'applications/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %}
Application Complete
{% endblock %}
{% block page_content %}
    <div class="container page__container">
        <div class="card shadow-none">
            <div class="card-body">
                <center>
                    <i class="fa fa-check-circle fa-5x text-success"></i>
                    <br>
                    <p class="mt-4">
                        Your application has been successfully submitted. You will receive an email (on this address <span class="text-primary">{{ application.email_address }}</span>) once it has been
                        accepted or further information is required.
                    </p>
                    <br>
                </center>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block js %}
    {{ block.super }}

{% endblock js %}
