{% extends 'applications/base.html' %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %}
    Apply for {{ course }}
{% endblock %}
{% block page_content %}

    <div class="container page__container">
        <div class="card shadow-none card-form">
            <div class="row no-gutters">
                <div class="col-lg-5 card-form__body card-body">
                    <h6><span class="headings-color">Applying for:</span></h6>
                    <p>
                        <strong>{{ course }}</strong>
                    </p>
                    {% if course.course_name.about %}
                        <h6><i class="material-icons">announcement</i> About the Course</h6>
                        <p class="text-muted">
                            {{ course.course_name.about_markdownified|safe }}
                        </p>
                    {% endif %}
                    {% if course.requirements %}
                        <h6><i class="material-icons">rate_review</i> Requirements</h6>
                        <p class="text-muted">
                            {{ course.requirements_markdownified|safe }}
                        </p>
                    {% endif %}
                </div>
                <div class="col-lg-7 card-body">
                    {% if form.errors %}
                        <div class="alert alert-danger d-flex  align-items-center m-0" role="alert">
                            <i class="material-icons mr-3">error_outline</i>
                            <div class="text-body">
                                <strong>Please correct the following errors in your form!</strong><br>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.label }} - {{ field.errors|first }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field|as_crispy_field }}
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-primary">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}
    {{ block.super }}
    <script>
        $(function(){
           $("label[for=id_captcha]").hide();
        });
    </script>
{% endblock %}
