{% load static %}
{% load hosts %}
{% load core_template_tags_and_filters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block page_title %}{% endblock %}&bull; </title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link type="text/css" href="{% static 'css/isppme-colors.css' %}" rel="stylesheet">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">


    <!-- Flatpickr -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.rtl.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.rtl.css' %}" rel="stylesheet">


</head>

<body class="layout-fixed">

<div class="preloader"></div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" class="mdk-header bg-dark js-mdk-header m-0" data-fixed data-effects="waterfall">
        <div class="mdk-header__content">

            <div class="navbar navbar-expand-sm navbar-main navbar-light bg-light  pr-0" id="navbar" data-primary>
                <div class="container-fluid">

                    <!-- Navbar toggler -->

                 


                    <!-- Navbar Brand -->
                    <a href="{% host_url 'index' host 'applications' %}" class="navbar-brand ">
                        <img style="    width: 60px;" src="{% static 'images/byo.webp' %}" class="mr-3" width="110" alt="">
                        <span class="text-isppme"></span>
                    </a>

                    <form class="search-form d-none d-sm-flex flex"
                          action="/">
                        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                        {% if filter.form.name.value %}
                            <input value="{{ filter.form.name.value }}" type="text" name="name" id="id_name"
                                   class="form-control" placeholder="Search">
                        {% else %}
                            <input type="text" name="name" id="id_name" class="form-control"
                                   placeholder="Search">
                        {% endif %}
                    </form>

                    <ul class="nav navbar-nav ml-auto d-none d-md-flex">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="material-icons">help_outline</i> Get Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page">
        <div class="page__header mb-0">
            <div class="container-fluid page__container">
                <div class="navbar navbar-secondary navbar-light navbar-expand-sm p-0">
                    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse"
                            data-target="#navbarsExample03" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="navbarsExample03">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-home"></i>  Home
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% host_url 'login' host 'students' %}">Student
                                        Portal</a>
                                    <a class="dropdown-item" href="{% host_url 'login' host 'teachers' %}">Tutor
                                        Portal</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container  page__heading-container mb-0">
            <div class="page__heading mb-0 mt-0">
                <h4 class="m-0"><i class="fa fa-archive text-muted"></i> <span class="text-isppme text-muted">Course Application</span>
                </h4>
            </div>
        </div>



        {% block page_content %}

        {% endblock page_content %}

    </div>
    <!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>


    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

{% endblock %}
</body>

</html>
