{% extends 'applications/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_title %}
    Attach Documents to your application
{% endblock %}
{% block page_content %}
    <div class="container page__container">
        <div class="card mb-2 shadow-none">
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-primary d-flex  align-items-center m-0" role="alert">
                        <i class="material-icons mr-3">error_outline</i>
                        <div class="text-body">
                            <strong>Please correct the following errors in your form!</strong><br>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }} - {{ field.errors|first }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <h6>
                    <span class="text-muted">Application for</span>
                    <span class="text-primary">{{ application.course }}</span>
                </h6>
                <br>
                <div class="alert alert-success d-flex  align-items-center m-0" role="alert">
                    <i class="material-icons mr-3">folder</i>
                    <div class="text-body">
                        Hey there <b>{{ application.full_name }}</b>, Please furnish your application by uploading your (the applicant's) scanned documents below.
                        These include your
                        national identification documents (id, passport), school certificates etc.
                    </div>
                </div>
                <hr>
                <div class="alert alert-primary d-flex  align-items-center m-0" role="alert">
                    <i class="material-icons mr-3">info</i>
                    <div class="text-body">
                        <span>{{ application.documents.count }}</span>
                        document{{ application.documents.count|pluralize }}
                        uploded.
                    </div>
                </div>
                {% if application.documents.count > 0 %}
                    <br>
                    {% for doc in application.documents.all %}
                        <li class="text-muted {% if forloop.first %}mt-2{% endif %}">
                            <i class="fa fa-file"></i> <strong>{{ doc.label }}</strong>
                        </li>
                    {% endfor %}
                    <br>
                    When done, click the "finish" button <br>
                    <a href="{% host_url 'complete_application' application.uuid_id host 'applications' %}"
                       class="btn btn-success mt-3">
                        <i class="fa fa-check-circle"></i> Finish Application
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card mt-0 shadow-none card-form">
            <div class="row no-gutters">
                <div class="col-lg-1 card-body">
                    <h1>
                        <i class="fa fa-file-pdf"></i> PDF <span class="text-primary">/</span> JPG
                    </h1>
                </div>
                <div class="col-lg-8 card-form__body card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field|as_crispy_field }}
                        {% endfor %}
                        <button class="btn btn-outline-primary">
                            Upload
                        </button>
                    </form>
                </div>
                <div class="col-lg-3 card-body">
                    <h6><span class="text-primary">.PDF/.JPG/.PNG/.BMP</span></h6>
                    <span class="text-muted">File Formats Only</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'formsets/jquery.formsets.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: '<i class="fa fa-plus mb-4"></i> &nbsp;Add Document',
            deleteText: '<i class="fa fa-trash mb-4"></i> Remove',
            prefix: '{{ formset.prefix }}',
        });
    </script>
{% endblock js %}
