{% extends 'applications/base.html' %}
{% load static %}
{% load hosts %}
{% block page_title %}
Create Student Account
{% endblock %}
{% load crispy_forms_tags %}
{% block page_content %}

    <div class="container page__container">
        <div class="card shadow-none card-form">
            <div class="row no-gutters">
                <div class="col-lg-4 card-body">
                    <p><strong class="headings-color">Account Creation</strong></p>
                    <p class="text-muted">
                        You are almost done now, <strong>{{ application.first_name }}</strong>. Finish registration by
                        creating your account here.
                    </p>
                </div>
                <div class="col-lg-8 card-form__body card-body">
                    <div class="alert alert-primary">
                        Your registration number is <strong>{{ application.student.reg_number }}</strong>. Use this
                        as your username or change it here. You can also change your email address and use the preferred
                        one. Any communication to you will be through this account or email address.
                    </div>
                    {% crispy form %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
