{% extends 'applications/base.html' %}
{% load hosts %}
{% load core_template_tags_and_filters %}
{% block page_title %}
    {% if filter.form.name.value %}
        {{ course_names.count }} Course{{ course_names.count|pluralize }} Found "{{ filter.form.name.value }}"
    {% else %}
        Select a course to apply
    {% endif %}
{% endblock %}
{% block page_content %}
    <div class="container page__container">
        <br>
        <form class="search-form d-none d-sm-flex flex mb-3"
              action="">
            <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
            <input value="{{ filter.form.name.value|default:'' }}" type="text" name="name" id="id_name" class="form-control" placeholder="Search">
        </form>

        {% if course_names %}
            <div class="mb-3">
                <strong class="text-dark-gray">Select the course in which you want to apply to.</strong>
            </div>

            <div class="stories-cards mb-4">

                {% for course_name in course_names %}
                    <div class="card shadow-none stories-card">
                        <div class="card-body media align-items-center">
                            <div class="media-body">
                                <strong style="font-size: 1.5em;">{{ course_name }}</strong><br>
                                On Offer:
                                <div class="text-muted">
                                    {{ course_name.qualifications_available }}
                                </div>
                                <br>
                                <hr>
                                <div class="btn-group mb-5">
                                    {% for course in course_name.courses.all %}
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-light dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                {{ course.award }}
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start">
                      <span class="dropdown-item">
                        <strong>Duration</strong>:
                        <span class="text-muted">{{ course.sem2duration }}
                          months</span>
                      </span>
                                                <span class="dropdown-item">
                        <strong>Modules</strong>:
                        <span class="text-muted">{{ course.course_modules.count }}</span>
                      </span>
                                                <a class="dropdown-item text-primary"
                                                   href="{% host_url 'applicant_details' course.uuid_id course|slugify host 'applications' %}">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                    Apply Now
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <h6><i class="material-icons">rate_review</i> Requirements</h6>
                                        <div class="accordion" id="accordion{{ course_name.uuid_id }}">
                                            {% for course in course_name.courses.all %}
                                                {% if course.requirements %}
                                                    <div class="card shadow-none mb-1">
                                                        <div class="card-header bg-white py-1 px-0"
                                                             id="heading{{ course_name.pk }}{{ forloop.counter }}">
                                                            <h5 class="mb-0 py-0">
                                                                <button class="btn btn-link text-dark py-0"
                                                                        type="button"
                                                                        data-toggle="collapse" data-target="#collapse{{ course_name.pk }}{{ forloop.counter }}"
                                                                        aria-expanded="false" aria-controls="collapse{{ course_name.pk }}{{ forloop.counter }}">
                                                                    <i class="fa fa-caret-right"></i> {{ course.award }}
                                                                </button>
                                                            </h5>
                                                        </div>

                                                        <div id="collapse{{ course_name.pk }}{{ forloop.counter }}"
                                                             class="collapse"
                                                             aria-labelledby="heading{{ course_name.pk }}{{ forloop.counter }}"
                                                             data-parent="#accordion{{ course_name.uuid_id }}">
                                                            <div class="card-body">
                                                                {{ course.requirements_markdownified|safe }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        {% if course_name.about %}
                                            <h6><i class="material-icons">announcement</i> About this Course</h6>
                                            <p>
                                                {{ course_name.about_markdownified|safe }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            {% if filter.form.name.value %}
                {{ course_names.count }} Course{{ course_names.count|pluralize }} Found named "
                {{ filter.form.name.value }}"
            {% else %}
                <center>
                    <i class="text-muted h3">Nothing found here.</i>
                </center>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
