{% extends 'applications/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% block page_content %}

    <div class="container page__container">
        <div class="card shadow-none card-form">
            <div class="row no-gutters">
                <div class="col-lg-12 card-body">
                    <center>
                        <p><strong class="headings-color">Account creation successful.</strong></p>
                        <p>
                            <i class="fa fa-check-circle fa-5x text-success"></i>
                            <br>
                            You've successfully
                            created your student account. You can now login into the student portal
                            and get to the next steps.
                        </p>

                        <p>
                            <a href="{% host_url 'login' host 'students' %}" class="text-success">
                                <i class="material-icons">school</i> Click here to go to the student portal.
                            </a>
                    </center>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
