{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Assignments List {% endblock %}
{% block assignments_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Assignments List</div>
                </div>
                <p class="lead text-white mt-2 mb-0">
                    Your assignments from current semester
                </p>
                <h1 class="text-white mt-0">Assignments</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-none bg-light border">
                    <div class="card-header card-header-sm bg-white">
                        <h3 class="card-header__title">Assignments for SEMESTER ({{ SEMESTER.start|date:"m/Y" }} - {{ SEMESTER.end|date:"m/Y"}})</h3>
                    </div>
                    <div class="card-body p-2">
                        <div class="trello-board__tasks-list card-list" id="trello-tasks-1">
                            {% for ref in assignments %}
                                <div class="trello-board__tasks-item card shadow-none border">
                                    <div class="p-3">
                                        <p class="m-0 d-flex align-items-center">
                                            <strong>
                                                <a href="{% host_url 'assignment_details' ref.assignment.uuid_id host 'students' %}">
                                                    {{ ref.assignment.label }}
                                                </a>
                                            </strong>
                                            {% if ref.assignment.expired %}
                                                <span class="badge badge-danger ml-auto">CLOSED</span>
                                            {% else %}
                                                <span class="badge badge-light-gray ml-auto">OPEN</span>
                                            {% endif %}
                                            {% if student in ref.assignment.submitted_students %}
                                                <span class="badge badge-success ml-1">
                                                        <i class="fa fa-check"></i> &nbsp;SUBMITTED
                                                    </span>
                                            {% endif %}
                                        </p>

                                        <p class="d-flex align-items-center mb-1">
                                            <i class="material-icons icon-16pt mr-1 text-muted">folder_open</i>
                                            <span class="text-muted mr-3">{{ ref.assignment.module.code|upper }} &bull; {{ ref.assignment.module.name }}</span>
                                            <i class="fa fa-user-tie icon-16pt mr-1 text-muted"></i>
                                            <span class="text-muted"><strong>{{ ref.assignment.created_by }}</strong> @ {{ ref.assignment.created }}</span>
                                        </p>
                                        <div class="d-flex align-items-center mb-1">
                                            <span class="text-muted">Due&nbsp;</span>
                                            <strong class="text-primary">
                                                {{ ref.assignment.due_date_time|naturaltime }}
                                            </strong>
                                        </div>
                                        <div class="d-flex align-items-center mb-0">
                                            {# jh #}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
