{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Assignment: {{ assignment.title }} {% endblock %}
{% block assignments_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:220px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Assignment Details</div>
                </div>
                <p class="lead text-white mt-2 mb-0">
                    {{ assignment.title }}
                </p>
                <h1 class="text-white mt-0">Assignment Details</h1>
                <p class="lead text-white mt-1 mb-0">
                    <i class="fa fa-folder-open"></i> {{ assignment.module.name }}
                </p>
            </div>
            <div class="my-2 text-white d-flex">
                <strong class="mr-1"><i class="icon-16pt fa fa-clock icon-light"></i> Due </strong>
                <strong class="text-warning"> &bull; {{ assignment.due_date_time|naturaltime }}</strong>
                <strong class="mr-1 ml-4">
                    <i class="icon-16pt fa fa-user-tie icon-light"></i>
                    {{ assignment.created_by }}
                </strong>
                <strong class="text-warning"> &bull; {{ assignment.created|naturaltime }}</strong>
            </div>
            <div class="mt-1 mb-0">
                {% if not assignment.expired and not student in assignment.submitted_students %}
                    <a href="{% host_url 'submit_assignment' assignment.uuid_id host 'students' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="fa fa-upload"></i> Submit
                    </a>
                {% endif %}
                {% if student in assignment.submitted_students %}
                    {% with submission|first as submission %}
                        <a href="{% host_url 'submission_details' submission.uuid_id host 'students' %}"
                           class="btn btn-outline-light mr-2">
                            <i class="fa fa-eye"></i> View your submission
                        </a>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card shadow-none">
                    <h4 class="card-header border-top border-left border-right text-muted">
                        <i class="fa fa-list"></i> DETAILS
                        {% if assignment.created < assignment.modified %}
                            <small class="float-right">
                                <i class="fa fa-pen text-right"></i> Edited<br>
                                {{ assignment.modified|naturaltime }}
                            </small>
                        {% endif %}
                    </h4>
                    <div class="card-body">
                        {{ assignment.description_formatted_markdown|safe|default:"No description found. Please check if there are any attached files/documents. Otherwise the assignment is still being set-up." }}
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-12">
                <div class="card shadow-none card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                                <span class="flex d-flex flex-column">
                                <strong>{{ assignment.point_total }}</strong>
                                <small class="text-muted text-uppercase">points</small>
                          </span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ assignment.submissions.count }} peers</strong>
                            <span class="text-muted">have made submissions.</span>
                        </li>
                        {% if student in assignment.submitted_students %}
                            {% with submission|first as submission %}
                                <li class="list-group-item">
                                    <a href="{% host_url 'submission_details' submission.uuid_id host 'students' %}" class="btn btn-outline-info btn-block">
                                        Click here to view your submission
                                    </a>
                                </li>
                            {% endwith %}
                        {% endif %}
                    </ul>
                </div>
                <div class="card shadow-none">
                    <h5 class="card-header border-top border-left border-right text-muted"><i class="fa fa-file-alt"></i> FILES</h5>
                    <ul class="list-group">
                        {% for document in assignment.documents.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong>{{ forloop.counter }}. {{ document.label }}</strong>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="{{ document.file.url }}">
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong class="text-muted">No files attached to this assignment.</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
