{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Attach File(s) to assignment : {{ assignment.title }} {% endblock %}
{% block assignments_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:180px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Attach File(s)</div>
                </div>
                <h4 class="text-white mb-0">{{ submission.assignment.title }}</h4>
                <span class="lead text-white my-2">{{ submission.assignment.module.name }}</span>
                <div class="my-2 text-white d-flex">
                    <strong class="mr-4">
                        <i class="icon-16pt fa fa-clock icon-light"></i>
                        Submitted &bull;
                        <span class="text-warning">
                            {{ submission.created|naturaltime }}
                        </span>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-4 order-12">
                <div class="card card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                                <span class="flex d-flex flex-column">
                                <strong>{{ submission.assignment.point_total }}</strong>
                                <small class="text-muted text-uppercase">points</small>
                          </span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ submission.assignment.submissions.count }} peers</strong>
                            <span class="text-muted">have made submissions.</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{% host_url 'submission_details' submission.uuid_id host 'students' %}"
                               class="btn btn-outline-info btn-block">
                                <i class="fa fa-arrow-left"></i> &nbsp; Submission Page
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h5 class="card-header text-muted"><i class="fa fa-file-alt"></i> OTHER FILES</h5>
                    <ul class="list-group">
                        {% for document in submission.documents.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong>{{ forloop.counter }}. {{ document.label }}</strong>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="{{ document.file.url }}">
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong class="text-muted">No other files attached to this submission.</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="card">
                    <h6 class="card-header text-muted lead">
                        <i class="fa fa-paperclip"></i> Attach File.
                    </h6>
                    <div class="card-body">
                        <div class="alert alert-soft-info d-flex  align-items-center m-0" role="alert">
                            <i class="material-icons mr-3">error_outline</i>
                            <div class="text-body">
                                <strong> Upload your document(s) in the form below, one by one if there is more than one.
                                Please note that only:</strong> PDF (Portable Document Format), Text, Images(JPEG, PNG)
                                and Microsoft Office Documents are accepted at the moment.
                            </div>
                        </div>
                        <p>
                            {% if form.errors %}
                                <div class="alert alert-primary d-flex  align-items-center m-0" role="alert">
                                    <i class="material-icons mr-3">error_outline</i>
                                    <div class="text-body">
                                        <strong>Please correct the following errors in your form!</strong><br>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <li>{{ field.label }} - {{ field.errors|first }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        </p>
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}

{% block js %}
    {{ block.super }}

    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
