{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block page_title %}{% endblock page_title %}
        &bull; 
    </title>

    <meta name="robots" content="noindex">

    {% block css %}
        <!-- Simplebar -->
        <link type="text/css" href="{% static 'css/isppme-colors.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

        <!-- Font Awesome FREE Icons -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">

        <!-- Flatpickr -->
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr.rtl.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'slack-assets/css/vendor-flatpickr-airbnb.rtl.css' %}" rel="stylesheet">

        <!-- Vector Maps -->
        <link type="text/css" href="{% static 'slack-assets/vendor/jqvmap/jqvmap.min.css' %}" rel="stylesheet">

        <!-- Toastr -->
        <link type="text/css" href="{% static 'slack-assets/vendor/toastr.min.css' %}" rel="stylesheet">
    {% endblock %}

</head>

<body class="layout-default">
<div class="preloader"></div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header" class="mdk-header js-mdk-header m-0" data-fixed="data-fixed">
        <div class="mdk-header__content">

            <div class="navbar navbar-expand-sm navbar-main navbar-light bg-light  pr-0" id="navbar"
                 data-primary="data-primary">
                <div class="container-fluid p-0">

                    <!-- Navbar toggler -->

                    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
                            data-toggle="sidebar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <a href="{% host_url 'dashboard' host 'students' %}" class="navbar-brand ">
                        <img style="    width: 60px;" src="{% static 'images/byo.webp' %}" class="mr-3" width="110" alt="">
                        <span class="text-isppme"></span>
                    </a>

                    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                        <li class="nav-item dropdown">
                            <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"
                               data-caret="false">
                                <!-- <img src="{% static 'slack-assets/images/avatar/demi.png' %}" class="rounded-circle" width="32" alt="Frontted"> -->
                                <i class="fa fa-user-circle"></i>
                                <span class="ml-1 d-flex-inline">
                      <span class="text-light">{{ user.student.full_name }}</span>
                    </span>
                            </a>
                            <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item-text dropdown-item-text--lh">
                                    <div>
                                        <strong>{{ user.student.full_name }}</strong>
                                    </div>
                                    <div>{{ user.student.reg_number }}</div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% host_url 'dashboard' host 'students' %}">Dashboard</a>
                                <a class="dropdown-item" href="{% host_url 'change_password' host 'students' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% host_url 'logout' host 'students' %}">Logout</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content">

        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push="data-push" data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page">
                <br>
                <br>
                <br>
                {% block page_content %}{% endblock page_content %}
            </div>
            <!-- // END drawer-layout__content -->

            <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                <div class="mdk-drawer__content">
                    <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar="data-simplebar">
                        <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-underline-0 text-body">
                    <span class="flex d-flex flex-column">
                      <strong>{{ user.student.full_name }}</strong>
                      <small class="text-muted text-uppercase">{{ user.student.reg_number }}</small>
                    </span>
                            </a>
                            <div class="dropdown ml-auto">
                                <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div>
                                            <strong>{{ user.username }}</strong>
                                        </div>
                                        <div>{{ user.email }}</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% host_url 'dashboard' host 'students' %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% host_url 'change_password' host 'students' %}">
                                        Change Password
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% host_url 'logout' host 'students' %}">Logout</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-heading sidebar-m-t">Menu</div>
                        <div class="sidebar-block p-0">

                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block dashboard_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button" href="{% host_url 'dashboard' host 'students' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">
                                            school
                                        </i>
                                        <span class="sidebar-menu-text">Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-heading">Classroom</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block assignments_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'assignments_list' host 'students' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">font_download</i>
                                        <span class="sidebar-menu-text">Assignments</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item {% block module_listings_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'module_listing' host 'students' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">
                                            folder_open
                                        </i>
                                        <span class="sidebar-menu-text">Modules</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item {% block discussions_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'discussions' host 'students' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">
                                            comment
                                        </i>
                                        <span class="sidebar-menu-text">Discussions</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-heading">Chat</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block chat_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'chat_contacts' host 'students' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            assignment_ind
                                        </i>
                                        <span class="sidebar-menu-text">Contacts</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/chat">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            chat_bubble
                                        </i>
                                        <span class="sidebar-menu-text">Messages</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-heading">Exams</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block exams_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'exam_listing' host 'students' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            developer_board
                                        </i>
                                        <span class="sidebar-menu-text">Timetable</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item {% block exam_calendar_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'exam_calendar' host 'students' %}">
                                        <i class="sidebar-menu-icon material-icons sidebar-menu-icon--left">
                                            event
                                        </i>
                                        <span class="sidebar-menu-text">Exam Calendar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-heading">Settings</div>
                        <div class="sidebar-block p-0">
                            <ul class="sidebar-menu" id="components_menu">
                                <li class="sidebar-menu-item {% block change_password_lnk %}{% endblock %}">
                                    <a class="sidebar-menu-button"
                                       href="{% host_url 'change_password' host 'students' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">
                                            settings_applications
                                        </i>
                                        <span class="sidebar-menu-text">Change Password</span>
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- // END drawer-layout -->

        </div>
        <!-- // END header-layout__content -->

    </div>
    <!-- // END header-layout -->
</div>
</div>
{% block js %}
    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>

    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

    <!-- Global Settings -->
    <script src="{% static 'slack-assets/js/settings.js' %}"></script>

    <!-- Vector Maps -->
    <script src="{% static 'slack-assets/vendor/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'slack-assets/js/vector-maps.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'slack-assets/vendor/toastr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/toastr.js' %}"></script>
    <script type="text/javascript">
        {% for message in messages %}
            {% if message.tags == "alert-info" %}
                toastr.info("{{ message }}");
            {% elif message.tags == "alert-danger" %}
                toastr.error("{{ message }}");
            {% elif message.tags == "alert-success" %}
                toastr.success("{{ message }}");
            {% elif message.tags == "alert-warning" %}
                toastr.warning("{{ message }}");
            {% endif %}
        {% endfor %}
    </script>
{% endblock js %}
</body>

</html>
