{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Change Password {% endblock %}
{% block change_password_lnk %}active{% endblock %}
{% block page_content %}
    <div class="container-fluid page__heading-container">
        <div class="page__heading">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">Settings</li>
                    <li class="breadcrumb-item active" aria-current="page">Change password</li>
                </ol>
            </nav>

            <h1 class="m-0">Change Password</h1>
        </div>
    </div>



    <div class="container-fluid page__container">
        <div class="card shadow-none card-form">
            <div class="row no-gutters">
                <div class="col-lg-3 card-body">
                    <p><strong class="headings-color">Update your password</strong></p>
                    <p class="text-muted">
                        Change your account password.
                    </p>
                </div>
                <div class="col-lg-6 card-form__body card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

{% block js %}
    {{ block.super }}

    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
