{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block dashboard_lnk %}
    active
{% endblock %}
{% block page_content %}
<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                </ol>
            </nav>
            <h1 class="m-0 text-isppme">Student Dashboard</h1>
        </div>
    </div>
</div>




<div class="container-fluid page__container">


    <div class="card-group shadow-none">
        <div class="card shadow-none card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons  icon-muted icon-30pt">perm_identity</i></div>
                <div class="text-amount ml-auto text-isppme">{{ student.reg_number }} &bull; {{ student.full_name }}</div>
            </div>
        </div>

        <div class="card shadow-none card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons icon-muted icon-30pt fa fa-dollar-sign"></i> Balance</div>
                <div class="text-amount ml-auto">&dollar;{{student.balance|intcomma}}</div>
            </div>
        </div>
    </div>
    <div class="mb-3"><strong class="text-dark-gray">Your enrollments:</strong></div>
    {% for enrollment in student.enrollments.iterator %}
      <div class="card shadow-none card-form d-flex flex-column flex-sm-row">
          <div class="card-body card-body-form-group flex">
              <div class="row">
                  <div class="col-sm-auto">
                      <div class="form-group">
                          <h5 class="text-isppme">{{ enrollment.course }}</h5>
                      </div>
                  </div>
              </div>
              <div>
                  <a href="{% host_url 'transcript' enrollment.uuid_id host 'students' %}">
                      <i class="fa fa-clipboard"></i> View Transcript
                  </a>
              </div>
          </div>
          <button data-href="{% host_url 'enrollment_overview' enrollment.uuid_id host 'students' %}" onclick="location.href=$(this).attr('data-href');" class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0">
            <i class="material-icons text-primary icon-20pt fa fa-arrow-right"></i>
          </button>
      </div>
    {% endfor %}

</div>

{% endblock %}
{% block js %}
  {{ block.super }}

{% endblock js %}
