{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Discussions {% endblock %}
{% block discussions_lnk %}active{% endblock %}

{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:110px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Discussions</div>
                </div>
                <h4 class="text-white mb-0">Discussions</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid page__container">
        <div class="stories-cards">

            <div class="card stories-card shadow-none">
                <table class="mt-3 table table-hover">
                    <tbody>
                    {% for discussion in discussions %}
                        <tr>
                            <td>
                                {{ discussion.module_ref.code|upper }} <br>
                                <span class="text-muted">
                                        {{ discussion.module_ref.name }}
                                    </span>
                            </td>
                            <td>
                                <a href="{% host_url 'discussion' discussion.uuid_id discussion.title|slugify host 'students' %}">
                                    {{ discussion.title }}
                                </a>
                            </td>
                            <td>{{ discussion.created_by.full_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
{% endblock js %}
