{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Discussion - {{ discussion.title }} {% endblock %}
{% block discussions_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Discussion details</div>
                </div>

                <span class="lead text-white my-2">Discussion details</span>
                <h4 class="text-white mb-0">{{ discussion.title }}</h4>
            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid page__container">

        {% if discussion.closed %}
            <div class="alert alert-soft-danger d-flex align-items-center card-margin" role="alert">
                <i class="material-icons mr-3">warning</i>
                <div class="text-body">
                    <strong>Discussion Closed</strong>.
                    This discussion has been closed. You can only read contributions.
                </div>
            </div>

        {% endif %}
        <div class="row">
            <div class="col-md-4 order-12">

                <div class="card">
                    <ul class="list-group list-lessons">
                        <li class="list-group-item d-flex align-items-center active">
                            <div>
                                <a href="javascript:void(0)">{{ discussion.module_ref.code|upper }}</a>
                                <div class="text-muted">
                                    {{ discussion.module_ref.name }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">

                <div class="mb-3"><strong class="text-dark-gray">DESCRIPTION</strong></div>
                <p>
                    {{ discussion.get_details_markdownified|safe }}
                </p>

                <div class="card py-2 px-3 my-4">
                    <div class=" d-flex justify-content-between align-items-center">

                        <a href="javascript:void(0)" class="flex d-flex align-items-center text-body text-underline-0">
                            <span class="avatar avatar-sm mr-2">
                                <span class="avatar-title rounded-circle">{{ discussion.created_by.initials }}</span>
                            </span>
                            <span class="flex d-flex flex-column">
                                <strong>{{ discussion.created_by.full_name }}</strong>
                                <small class="text-muted text-uppercase">AUTHOR</small>
                            </span>
                        </a>
                        <div>
                            <i class="fa fa-pen-alt"></i> {{ discussion.created|naturalday|title }}
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <!-- COMMENTS -->
                <h4 class="mt-4">Comments</h4>
                {% if not discussion.closed %}
                    Post your own comment
                    {% crispy form %}
                {% endif %}

                {% for comment in discussion.comments.all %}
                    <div class="py-3 px-3 border-bottom bg-white">
                        <div class="d-flex mb-1">
                            <div class="avatar avatar-sm mr-3">
                                <span class="avatar-title rounded-circle">{{ comment.student.initials }}</span>
                            </div>
                            <div class="flex">
                                <div class="d-flex align-items-center mb-1">
                                    <strong class="text-15pt">{{ comment.student.full_name }}</strong>
                                    <small class="ml-2 text-muted">{{ comment.created|naturaltime }}</small>
                                </div>
                                <div>
                                    {{ comment.get_details_markdownified|safe }}
                                </div>

                                {#                                <div class="d-flex align-items-center">#}
                                {#                                    <a href="#" class="text-muted d-flex align-items-center decoration-0"><i#}
                                {#                                            class="material-icons mr-1"#}
                                {#                                            style="font-size: inherit;">favorite_border</i>#}
                                {#                                        38</a>#}
                                {#                                    <a href="#" class="text-muted d-flex align-items-center decoration-0 ml-3"><i#}
                                {#                                            class="material-icons mr-1" style="font-size: inherit;">thumb_up</i> 71</a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
{% endblock js %}
