{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% load humanize %}
{% block page_title %} Submit Assignment {% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:170px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Edit Assignment Submission</div>
                </div>
                <p class="lead text-white mt-2 mb-0">{{ submission.assignment.title }}</p>
                <h1 class="text-white mt-0">Edit Submission</h1>
            </div>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="card card-form mt-4">
            <h5 class="card-header text-muted"><i class="fa fa-pen-alt"></i> Submission Update Form</h5>
            <div class="row no-gutters">
                <div class="col-lg-3 card-form__body card-body">
                    <h6 class="text-muted mb-0">Title</h6>
                </div>
                <div class="col-lg-9 card-body">
                    <h6 class="text-muted mb-0">{{ submission.assignment.title }}</h6>
                </div>

            </div>
            <div class="row no-gutters">
                <div class="col-lg-3 card-body">
                    <p><strong class="headings-color">Edit Submission</strong></p>
                    <p class="">
                        Edit your work for the assignment: {{ submission.assignment.title }}
                    </p>
                    <hr>
                    <a class="btn btn-outline-primary btn-block"
                       href="{% host_url 'assignment_details' submission.assignment.uuid_id host 'students' %}">
                        View Assignment
                    </a>
                    <hr>

                </div>
                <div class="col-lg-9 card-form__body card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
