{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% block dashboard_lnk %}
    active
{% endblock %}
{% block page_title %} {{ enrollment.course }} {% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:180px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <p class="lead text-white mt-2 mb-0">{{ enrollment.course.award }}</p>
                <h4 class="text-white mt-0">{{ enrollment.course.course_name }}</h4>
                <div class="my-2 text-white d-flex">
                    <strong class="mr-4 lead">
                        {{ enrollment.semesters_completed }}/{{ enrollment.course.semesters }} semesters completed
                    </strong>
                </div>
                {% if not enrollment.completed %}
                    <div class="mt-1">
                        {% if SEMESTER %}
                            {% if not enrollment.registered_for_current_semester and not enrollment.completed %}

                                <a href="{% host_url 'register' enrollment.uuid_id host 'students' %}"
                                   class="btn btn-light mr-2">
                                    <i class="fa fa-external-link-alt"></i> Register Now
                                </a>
                            {% endif %}
                        {% else %}
                            <span class="text-white">
                        <i class="fa fa-exclamation-triangle"></i>
                            Registration not open yet.
                        </span>
                        {% endif %}

                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row mt-4">
            <div class="col-lg">
                <div class="card shadow-none border-left border-top border-right">
                    <div class="card-header card-header-large bg-white d-flex align-items-center">
                        <h4 class="card-header__title flex m-0">Registration Records</h4>

                    </div>
                    <div class="card-header card-header-tabs-basic nav" role="tablist">
                        {% for registration in enrollment.registrations.all.iterator %}
                            {{ registration.select_related }}
                            <a href="#sem{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}
                               data-toggle="tab" role="tab"
                               aria-controls="sem{{ forloop.counter }}"
                               {% if forloop.first %}aria-selected="true"{% endif %}>
                                Semester {{ registration.semester_no|apnumber }}
                            </a>
                        {% empty %}
                            <span class="my-3">
                                No records found.
                            </span>
                        {% endfor %}
                    </div>
                    <div class="list-group tab-content list-group-flush">
                        {% for registration in enrollment.registrations.all.iterator %}

                            <div class="tab-pane {% if forloop.first %}active show fade{% endif %}"
                                 id="sem{{ forloop.counter }}">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex align-items-center text-left mb-4 mt-2 border-top border-bottom ">
                                                <div class="border-right pr-4 mr-4">
                                                    <div class="mb-0">Modules</div>
                                                    <div class="text-amount">{{ registration.modules.count }}</div>
                                                </div>
                                                <div>
                                                    <div class="mb-0">Balance</div>
                                                    <div class="text-amount">${{ registration.balance|intcomma }}</div>
                                                </div>
                                                {% if registration.balance > 0 %}
                                                    <h6 class="ml-auto">
                                                        <span class="badge badge-warning">Not Registered</span>
                                                    </h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="z-0">
                                                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                                    <li class="nav-item">
                                                        <a href="#reg{{ registration.pk }}modules"
                                                           class="nav-link nav-pills active" data-toggle="tab"
                                                           role="tab" aria-controls="reg{{ registration.pk }}modules"
                                                           aria-selected="true">
                                                            <span class="nav-link__count">
                                                                Modules
                                                            </span>
                                                            {{ registration.modules.count }}
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#reg{{ registration.pk }}financials" class="nav-link"
                                                           data-toggle="tab" role="tab"
                                                           aria-selected="false">
                                                            <span class="nav-link__count">Financials</span>
                                                            ${{ registration.balance|intcomma }}

                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#reg{{ registration.pk }}results"
                                                           class="nav-link {% if registration.balance > 0 %} disabled {% endif %}"
                                                           data-toggle="tab"
                                                           role="tab" aria-selected="false">
                                                            <span class="nav-link__count">Results</span>
                                                            {% if registration.balance > 0 %}
                                                                Locked
                                                            {% else %}
                                                                For {{ registration.modules.count }} modules
                                                            {% endif %}

                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="card shadow-none">
                                                    <div class="card-body tab-content">
                                                        <div class="tab-pane active show fade"
                                                             id="reg{{ registration.pk }}modules">
                                                            {% if not registration.modules_confirmed %}
                                                                {% with registration as record %}
                                                                    <div class="alert alert-soft-success d-flex  align-items-center"
                                                                         role="alert">
                                                                        <i class="material-icons mr-3">edit</i>
                                                                        <div class="text-body">
                                                                            Please note that you have a total of
                                                                            <u>{{ record.total_modules }} modules</u>
                                                                            for this semester.
                                                                            Only
                                                                            <b><u>{{ record.compulsory_modules }}</u></b>
                                                                            of the standard course modules for this
                                                                            current semester are <u>compulsory</u>
                                                                            and
                                                                            you are required to have <u>at
                                                                            least {{ record.required_modules }} </u>
                                                                            standard course modules (excluding retakes)
                                                                            registered
                                                                            for this semester so choose
                                                                            <u>{{ record.modules_to_choose }} more</u>
                                                                            or all the
                                                                            optional
                                                                            modules to submit your registration.
                                                                            <hr>
                                                                            <a href="{% host_url 'select_modules' record.uuid_id host 'students' %}"
                                                                               class="btn btn-warning">
                                                                                Select Modules
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                {% endwith %}
                                                            {% endif %}
                                                            <ul class="list-group">
                                                                {% for registered_module in registration.modules.all.iterator %}
                                                                    <li class="list-group-item d-flex align-items-center">
                                                                        <div class="avatar avatar-sm mr-3">
                                                                            <span class="avatar-title rounded-circle bg-primary">{{ forloop.counter }}</span>
                                                                        </div>
                                                                        <div>
                                                                            <a href="#">{{ registered_module.module.name }}</a>
                                                                            <div class="text-muted">{{ registered_module.module.code }}</div>
                                                                        </div>
                                                                    </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane" id="reg{{ registration.pk }}financials">
                                                            <table class="table table-striped mt-4">
                                                                <caption>Debit Entries</caption>
                                                                <thead>
                                                                <tr>
                                                                    <th>Summary</th>
                                                                    <th align="right">Amount</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for entry in registration.debit_ledger_entries.all.iterator %}
                                                                    <tr>
                                                                        <td>{{ entry.narration }}</td>
                                                                        <td align="right">
                                                                            <strong>${{ entry.amount }}</strong></td>
                                                                        <td>
                                                                            {% if not entry.paid and registration.modules_confirmed %}
                                                                                <a class="btn btn-success btn-sm"
                                                                                   href="{% host_url 'prepare_payment' entry.uuid_id host 'students' %}">
                                                                                    Pay
                                                                                </a>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td align="center" colspan="2">
                                                                            <i class="text-muted">Nothing found.</i>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            <hr>
                                                            <table class="table table-hover">
                                                                <caption>Credit Entries</caption>
                                                                <thead>
                                                                <tr>
                                                                    <th>Summary</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for entry in registration.credit_ledger_entries.all.iterator %}
                                                                    <tr>
                                                                        <td>{{ entry.narration }}</td>
                                                                        <td align="right">
                                                                            <strong>${{ entry.amount }}</strong></td>
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td align="center" colspan="2">
                                                                            <i class="text-muted">Nothing found.</i>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane"
                                                             id="reg{{ registration.pk }}results">
                                                            {% if registration.balance > 0 %}
                                                                Please pay US${{ registration.balance|intcomma }} to
                                                                view results.
                                                            {% else %}
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered table-striped">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Module Code</th>
                                                                            <th>Module Name</th>
                                                                            <th>Score</th>
                                                                            <th>Class</th>
                                                                            <th>Decision</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for md in registration.modules.all.iterator %}
                                                                            <tr>
                                                                                <td>{{ md.module.code|upper }}</td>
                                                                                <td>{{ md.module.name }}</td>
                                                                                <td>{{ md.score }}</td>
                                                                                <td>{{ md.classification }}</td>
                                                                                <td>{{ md.decision }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
