{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Exams {% endblock %}
{% block exams_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Exams</div>
                </div>
                <h4 class="text-white mb-0">Exams</h4>
                <span class="lead text-white my-2">{{ SEMESTER.start_datetime|date }} - {{ SEMESTER.end_datetime|date }}</span>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-2 order-12">
                <div class="card card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                                <span class="flex d-flex flex-column">
                                <strong>{{ exams.count }}</strong>
                                <small class="text-muted text-uppercase">Exams Found</small>
                          </span>
                            </a>
                        </li>

{#                        <li class="list-group-item">#}
{#                            <strong>{{ submission.assignment.submissions.count }} peers</strong>#}
{#                            <span class="text-muted">have made submissions.</span>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            <div class="col-md-10 mt-4">
                <div class="card shadow-none">
                    <h4 class="card-header text-muted bg-white">
                        Exam Timetable
                    </h4>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Module Code</th>
                                <th>Module Name</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ref in exams %}
                                {{ ref.prefetch_related }}
                                <tr>
                                    <td>{{ ref.exam.module.code }}</td>
                                    <td>{{ ref.exam.module.name }}</td>
                                    <td>
                                        {{ ref.exam.write_datetime|date }}
                                        at {{ ref.exam.write_datetime|time:"h:i a" }} <br>
                                        <span class="text-muted">{{ ref.exam.write_datetime|naturaltime }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
