{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_title %}Exam Calendar {% endblock %}
{% block exam_calendar_lnk %}active{% endblock %}
{% block css %}
    {{ block.super }}

    <!-- FullCalendar -->
    <link type="text/css" href="{% static 'slack-assets/vendor/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">

{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Exams</div>
                </div>
                <h4 class="text-white mb-0">Exam Calendar</h4>
                <span class="lead text-white my-2">{{ SEMESTER.start_datetime|date }} - {{ SEMESTER.end_datetime|date }}</span>
            </div>
        </div>
    </div>

    <div class="mt-4 container-fluid page__container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-body shadow-none">
                    <div id="calendar" data-toggle="fullcalendar"></div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-3">
                <div id="external-events">
                    <ul class="list-group list-lessons">
                        {% for ref in exams %}
                            <li class="list-group-item flex">
                                <div>
                                    {{ ref.exam.module.code|upper }}
                                </div>
                                <small class="text-muted">{{ ref.exam.module.name }}</small>
                                <div>
                                    {{ ref.exam.write_datetime }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div> <!-- end col-->
        </div> <!-- end row -->
    </div>
{% endblock page_content %}

{% block js %}
    {{ block.super }}
    <!-- Moment.js -->
    <script src="{% static 'slack-assets/vendor/moment.min.js' %}"></script>

    <!-- FullCalendar -->
    <script src="{% static 'slack-assets/vendor/fullcalendar/fullcalendar.min.js' %}"></script>
    <script>
        $('#calendar').fullCalendar({
        themeSystem:"bootstrap4",
            header:{left:"prev,next today",center:"title",right:"month,agendaWeek,agendaDay"},
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },

            events: [
                {% for ref in exams %}
                    {
                        title: '{{ ref.exam.module.code|upper }} - {{ ref.exam.module.name }}',
                        start: '{{ ref.exam.write_datetime|date:"Y-m-d h:i" }}',
                        className: 'bg-primary',
                        description: "iuygh",
                    },
                {% endfor %}
            ],
            editable: false,
            droppable: false,
        });
    </script>
{% endblock js %}
