{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} {{ module.code|upper }} &bull; {{ module.name }} {% endblock %}
{% block module_listings_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:190px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">{{ module }} assignments</div>
                </div>
                <h4 class="text-white mt-2">{{ module.code|upper }}</h4>
                <p class="lead text-white mb-2">
                    {{ module.name }}
                </p>
                <p class="lead text-white mt-1 mb-0">
                    <i class="fa fa-layer-group"></i> Assignments
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="card">
                    <h5 class="card-header text-muted">
                        <i class="fa fa-list"></i> {{ assignments.count }} assignment{{ assignments.count|pluralize }}
                    </h5>
                    <div class="card-body">
                        <div class="trello-board__tasks-list card-list" id="trello-tasks-1">
                            {% for assignment in assignments %}
                                <div class="trello-board__tasks-item card shadow-none border">
                                    <div class="p-3">
                                        <p class="m-0 d-flex align-items-center">
                                            <strong>
                                                <a href="{% host_url 'assignment_details' assignment.uuid_id host 'students' %}">
                                                    {{ assignment.label }}
                                                </a>
                                            </strong>
                                            {% if assignment.expired %}
                                                <span class="badge badge-danger ml-auto">CLOSED</span>
                                            {% else %}
                                                <span class="badge badge-light-gray ml-auto">OPEN</span>
                                            {% endif %}
                                            {% if student in ref.assignment.submitted_students %}
                                                <span class="badge badge-success ml-1">
                                                        <i class="fa fa-check"></i> &nbsp;SUBMITTED
                                                    </span>
                                            {% endif %}
                                        </p>

                                        <p class="d-flex align-items-center mb-1">
                                            <i class="fa fa-user-tie icon-16pt mr-1 text-muted"></i>
                                            <span class="text-muted"><strong>{{ assignment.created_by }}</strong> @ {{ assignment.created }}</span>
                                        </p>
                                        <div class="d-flex align-items-center mb-1">
                                            <span class="text-muted">Due&nbsp;</span>
                                            <strong class="text-primary">
                                                {{ assignment.due_date_time|naturaltime }}
                                            </strong>
                                        </div>
                                        <div class="d-flex align-items-center mb-0">
                                            {# jh #}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                No assignments yet. Keep checking periodically for changes.
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 order-12">
                <div class="card card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                                <span class="flex d-flex flex-column">
                                <strong>{{ assignment.point_total }}</strong>
                                <small class="text-muted text-uppercase">points</small>
                          </span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ assignment.submissions.count }} peers</strong>
                            <span class="text-muted">have made submissions.</span>
                        </li>
                        {% if student in assignment.submitted_students %}
                            {% with submission|first as submission %}
                                <li class="list-group-item">
                                    <a href="{% host_url 'submission_details' submission.uuid_id host 'students' %}"
                                       class="btn btn-outline-info btn-block">
                                        Click here to view your submission
                                    </a>
                                </li>
                            {% endwith %}
                        {% endif %}
                    </ul>
                </div>
                <div class="card">
                    <h5 class="card-header text-muted"><i class="fa fa-file-alt"></i> FILES</h5>
                    <ul class="list-group">
                        {% for document in assignment.documents.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong>{{ forloop.counter }}. {{ document.label }}</strong>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="{{ document.file.url }}">
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong class="text-muted">No files attached to this assignment.</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
