{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} {{ module.code|upper }} &bull; {{ module.name }} {% endblock %}
{% block module_listings_lnk %}
    active
{% endblock %}
{% block page_content %}
    {{ module.prefetch_related }}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:150px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Module Details</div>
                </div>
                <h4 class="text-white mt-2">{{ module.code|upper }}</h4>
                <p class="lead text-white mb-2">
                    {{ module.name }}
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-9 mt-4">
                <div class="card-group shadow-none">
                    <div class="mx-1 my-3 flex">
                        <i class="material-icons icon-muted icon-40pt">assessment</i>
                        <span class="text-bold">Contribution</span>
                        <div class="mt-1">
                            <p class="text-muted">
                                Total module score contribution on semester end.
                            </p>
                        </div>
                    </div>
                    <div class="card card-body text-center">
                        <div class="text-amount mt-3">{{ module.exam_contribution }}%</div>
                        <div class="text-muted">Exam</div>
                    </div>
                    <div class="card card-body text-center">
                        <div class="text-amount mt-3">{{ module.continuous_assessment_contribution }}%</div>
                        <div class="text-muted">Continuous Assessment</div>
                    </div>
                </div>
                <div class="card shadow-none">
                    <h6 class="card-header text-isppme border-top border-left border-right text-muted">
                        <i class="fa fa-book"></i> STANDARD LEARNING MATERIAL ({{ module.learning_material.count }})
                    </h6>
                    <div class="card-body">
                        <div class="row">
                            {% for lm in module.learning_material.all %}
                                <div class="col-6">
                                    <div class="trello-board__tasks-item card shadow-none border"
                                         style="min-height: 300px">
                                        <div class="card-body">
                                            <h6>{{ lm.label }}</h6>
                                            <strong class="text-primary">About this item:</strong>
                                            {{ lm.get_about_markdownified|safe }}
                                        </div>
                                        <div class="card-footer">
                                            {% if lm.file %}
                                                <a href="{{ lm.file.url }}">
                                                    <i class="fa fa-download"></i> &nbsp;Download
                                                </a>
                                            {% else %}
                                                <a href="javascript:void(0)" class="text-muted">
                                                    <i class="fa fa-download"></i> &nbsp;File Unavailable
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                No material added yet. Check again another time.
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card shadow-none">
                    <h6 class="card-header border-top border-left border-right">
                        Study Material
                    </h6>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <td>Name</td>
                                <td>File</td>
                                <td>URL</td>
                                <td>Uploaded</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for matl in module.material_uploads.all %}
                                <tr>
                                    <td>
                                        {{ matl.name }}
                                    </td>
                                    <td>
                                        {% if matl.file %}
                                            <a href="{{ matl.file.url }}">{{ matl.file.url }}</a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if matl.url %}
                                            <a href="{{ matl.url }}">{{ matl.url }}</a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{{ matl.created }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-12">
                <div class="card shadow-none card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                                <span class="flex d-flex flex-column">
                                    <small class="text-muted text-uppercase">STATS</small>
                                </span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <span class="text-muted">
                                {{ module.current_semester_students }} peer{{ current_semester_students|pluralize }}
                            </span>
                            <br>
                            <span class="text-muted">
                                {{ module.current_semester_assignments.count }} assignment{{ module.current_semester_assignments.count|pluralize }}
                            </span>
                            <br>
                            <span class="text-muted">
                                {{ module.teachers.count }} teacher{{ module.teachers.count|pluralize }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
