{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Payment Status</title>

    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">
</head>

<body class="layout-login-centered-boxed">
    <div class="layout-login-centered-boxed__form card">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-3 navbar-light">
            <a href="#" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
              <small class="text-muted">Powered by</small>
              <img class="navbar-brand-icon mr-0 mb-2" src="https://developers.paynow.co.zw/img/paynow.logo.png" width="120" alt="Stack">
            </a>
            <p id="p-msg" class="m-0">
              Waiting for payment to complete
            </p>
        </div>
        <div class="d-flex justify-content-center flex-column text-center my-6">
            <dl>
              <dt>Transaction ID</dt>
              <dd>{{ transaction.uuid_id }}</dd>
              <dt class="text-muted rmvmuted">
                  Initiated: {{ transaction.created|date:'M d, Y h:i:s A' }}
              </dt>
            </dl>
{#            <div class="text-amount">#}
{#              <strong class="text-muted rmvmuted">US ${{ transaction.value }}</strong>#}
{#            </div>#}
            <br>
            <i id="loader-ico" class="fa fa-cog fa-spin fa-4x text-muted"></i>
        </div>
        <div class="d-flex justify-content-center flex-column text-center mt-4">
          <a id="main-btn" href="{{ transaction.link }}" target="_blank" class="btn btn-primary btn-block mb-2">
            Proceed to Paynow
          </a>
          <p class="justify">
              If your transaction fails or is distrurbed while on <span class="text-primary">Paynow</span>,
              you can return to this page and check the status.
          </p>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>

    <script>
      (function poll() {
          window.onbeforeunload = function() {
            return true;
        };
          var pollar;
          pollar = setTimeout(function() {
              $.ajax({

                  url: "{% host_url 'check_paynow_transaction_status' transaction.uuid_id host 'students' %}",
                  type: "get",
                  success: function(data) {
                      if (data.complete == 1 && data.status == 'paid'){
                          window.onbeforeunload = null;
                          payment_not_complete = false;
                          var sclasses = "fa-check-circle text-success"
                          $("#loader-ico").removeClass("fa-spin fa-cog text-muted").addClass(sclasses);
                          $("#p-msg").html("Payment complete");
                          $(".rmvmuted").removeClass("text-muted").addClass("text-success");
                          $("#proceed").css("display", "block");
                          $("#main-btn").attr('href', "{{ proceed }}").removeAttr("target").removeClass("btn-primary").addClass("btn-success").html("Proceed <i class='fa fa-check-circle'></i>");
                        
                          clear_poll();
                      }
                  },
                  dataType: "json",
                  complete: poll,
                  timeout: 10000
              })
          }, 10000);

          function clear_poll(){clearTimeout(pollar);}

      })();
    </script>

</body>

</html>
