{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Pay: {{ fee.narration }} {% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:150px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <p class="lead text-white mt-2 mb-0"><span class="bg-warning px-2">Payment Prep. Portal</span></p>
                <div class="my-2 text-white d-flex">
                    <strong class="mr-4 lead">
                        Paying For: {{ fee.narration }}
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row mt-4">
            <div class="col-lg-5">
                <div class="card shadow-none">
                    <div class="card-body">
                        <center>
                            <img src="{% static 'images/byo.webp' %}" width="200" alt="">
                            <br>
                            <br>
                            <h6 class="text-primary">Continue to payment gateway</h6>
                            <br>
                            <div class="text-amount text-primary">
                                <h1 class="text-primary">${{ fee.amount|intcomma }}</h1>
                            </div>
                            {% if not fee.merchant %}
                                <br>
                                <div class="alert alert-danger">
                                    You cannot continue to pay for this fee at this time. Please check again in a few
                                    moments. If this message persists, please send an email to
                                    <a href="mailto:zeyn.masialeti@bulawayopoly.com?subject=Persistent Payment Fault Message">zeyn.masialeti@bulawayopoly.com</a>
                                    with the subject: <b>"Persistent Payment Fault Message"</b>
                                </div>
                            {% endif %}
                            {% if fee.merchant %}
                                {% if fee.paid %}
                                    <div class="alert alert-success">
                                        Fee paid successfully.
                                    </div>
                                {% else %}
                                    <div class="mt-4">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="prepare" value="1">
                                            <button type="submit" class="btn btn-success">
                                                Proceed <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </center>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card shadow-none">
                    <h6 class="card-header border-top border-left border-right">
                        Previous Transactions
                    </h6>
                    <div class="card-body">
                        {% if fee.transactions.count > 0 %}
                            <div class="alert alert-primary">
                                If you have made more than one transaction and you've made payment(s) on one of them (specific to {{ fee }}) and it hasn't reflected on your account yet. Click the "Refresh" button below.
                            </div>
                            <a href="" class="btn btn-outline-primary">
                                <i class="fa fa-sync-alt"></i> Refresh
                            </a>
                            <br>
                            <br>
                        {% endif %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in fee.transactions.all %}
                                <tr>
                                    <td>{{ forloop.counter }}. <span class="text-muted">{{ transaction.uuid_id }}</span>
                                    </td>
                                    <td>
                                        {{ transaction.created }}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2">
                                        No transactions yet.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
