{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} {{ enrollment.course }} {% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:100px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                {% if SEMESTER.late_registration %}
                    <p class="text-white mt-2 mb-2"><span class="bg-danger px-2 py-1">LATE REGISTRATION</span></p>
                {% else %}
                    <p class="text-white mt-2 mb-2"><span class="bg-warning px-2 py-1">Register</span></p>
                {% endif %}
                <h4 class="text-white mt-2 lead">{{ enrollment.course }}</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <ul class="list-group">
                    <h6 class="lead mt-2">SEMESTER DETAILS:</h6>
                    <li class="list-group-item d-flex align-items-center">
                        <dl>
                            <dt>Start:</dt>
                            <dd>{{ SEMESTER.start }}</dd>
                            <dt>End:</dt>
                            <dd>{{ SEMESTER.end }}</dd>
                            <dt>Registration Period:</dt>
                            <dd>
                                {{ SEMESTER.registration_start }} - {{ SEMESTER.registration_end }}
                            </dd>
                        </dl>
                    </li>
                    <h6 class="lead mt-2">ENROLLMENT DETAILS:</h6>
                    <li class="list-group-item d-flex align-items-center">

                        <dl>
                            <dt>Course:</dt>
                            <dd>{{ enrollment.course }}</dd>
                            <dt>Semesters Completed:</dt>
                            <dd>{{ enrollment.semesters_completed }}</dd>
                        </dl>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="register" value="1">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Confirm &amp; Start Registration
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
