{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Module Chooser {% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:130px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">

                <p class="text-white mt-2 mb-2"><span class="bg-warning px-2 py-1">Module Chooser</span></p>
                <h4 class="text-white mt-2 lead">{{ record.enrollment.course }}</h4>
                <h6 class="text-white mt-0 lead">Semester: {{ record.semester_no }} - {{ record.semester }}</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        {% with record.enrollment.course as course %}
                            <p class="lead">
                                Please note that you have a total of <u>{{ record.total_modules }} modules</u> for this semester.
                                Only <b><u>{{ record.compulsory_modules }}</u></b> of the standard course modules for this current semester are <u>compulsory</u>
                                and
                                you are required to have <u>at least {{ record.required_modules }} </u> standard course modules (excluding retakes)
                                registered
                                for this semester so choose <u>{{ record.modules_to_choose }} more</u> or all the
                                optional
                                modules to submit your registration.
                            </p>
                        {% endwith %}
                    </li>
                    <div class="alert alert-soft-warning d-flex  align-items-center"
                         role="alert">
                        <i class="material-icons mr-3">warning</i>
                        <div class="text-body">
                            Please note that once confirmed <u>you'll not be able to make any changes</u> to these
                            modules. So please take your time to review them before making a premature decision.
                        </div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-primary d-flex  align-items-center m-0" role="alert">
                                <i class="material-icons mr-3">error_outline</i>
                                <div class="text-body">
                                    <strong>Please correct the following errors!</strong><br>
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li style="list-style-type: none;">{{ field.label }}
                                                - {{ field.errors|first }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                        {{ form.choose_modules|as_crispy_field }}
                        <div class="">
                            <label for="" class="col-form-label  requiredField">
                                Compulsory Modules<span
                                    class="asteriskField"> ({{ record.get_compulsory_modules.count }})</span>
                            </label>
                            {% for compulsory in record.get_compulsory_modules %}
                                <div class="form-check">
                                    <label id="id__{{ compulsory.uuid_id }}" class="form-check-label"
                                           for="id_selected_modules_{{ compulsory.uuid_id }}">
                                        <input type="checkbox" class="form-check-input"
                                               id="id_selected_modules_{{ compulsory.uuid_id }}" checked disabled>
                                        {{ compulsory.module.name }} (compulsory)
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" value=""
                                           id="confirmModuleChoice"
                                           required="required">
                                    <label class="custom-control-label" for="confirmModuleChoice">
                                        Confirm module choice(s)
                                    </label>
                                    <p class="text-muted">Please note that this action is reversible. So revise your
                                        selections before
                                        proceeding</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>

                </ul>
            </div>
        </div>

    </div>
{% endblock %}
