{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block chat_lnk %}active{% endblock %}
{% block page_title %} Chat {% endblock %}
{% block page_content %}

    <div class="container-fluid page__container">
        <div class="row mt-4">
            <div class="col-md-9">
                <div class="card shadow-none">
                    {#                    <h5 class="card-header text-white lead bg-primary">#}
                    {#                        <i class="fa fa-user-tie"></i> Module Tutors#}
                    {#                    </h5>#}
                    <div class="card-body">
                        {% if modules %}
                            {% for ref in modules %}
                                {{ ref.prefetch_related }}
                                {% if ref.module.teachers.count > 0 %}
                                    <div class="card shadow-none card-group-row__card border-left">
                                        <div class="card-body-x-lg card-body d-flex flex-row align-items-right">
                                            <div class="flex">
                                                <div class="card-header__title text-muted d-flex">{{ ref.module.code }}
                                                </div>
                                                <a href="{% host_url 'module_details' ref.module.uuid_id host 'students' %}"
                                                   class="h6">{{ ref.module.name }}
                                                </a>
                                                <div class="mt-3">
                                                    <small class="text-muted">
                                                        TUTORS ({{ ref.module.teachers.count }})
                                                    </small>
                                                    <br>
                                                    <div class="avatar-group">
                                                        {% for teacher in ref.module.teachers.all %}
                                                            {% if teacher.user %}
                                                                <div class="avatar" data-toggle="tooltip"
                                                                     data-placement="top"
                                                                     title=""
                                                                     data-original-title="{{ teacher.full_name }}">
                                                                    <a href="{% host_url 'get_chat_url' teacher.user.id host 'students' %}">
                                                                        <span class="avatar-title rounded-circle">{{ teacher.initials }}</span>
                                                                    </a>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <small class="text-muted">
                                                        PEERS ({{ ref.get_peers|length }})
                                                    </small>
                                                    <br>
                                                    <div class="avatar-group">
                                                        {% for student in ref.get_peers %}
                                                            <div class="avatar" data-toggle="tooltip"
                                                                 data-placement="top"
                                                                 title=""
                                                                 data-original-title="{{ student.name }}">
                                                                <a href="{% host_url 'get_chat_url' student.user.id host 'students' %}">
                                                                    <span class="avatar-title rounded-circle">{{ student.initials }}</span>
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
