{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Submit Assignment {% endblock %}
{% block assignments_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:170px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Submit Assignment</div>
                </div>
                <p class="lead text-white mt-2 mb-0">{{ assignment.title }}</p>
                <h1 class="text-white mt-0">Submit Assignment</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="card card-form mt-4">
            <h5 class="card-header text-muted"><i class="fa fa-pen-alt"></i> Assignment Submission Form</h5>
            <div class="row no-gutters">
                <div class="col-lg-3 card-form__body card-body">
                    <h6 class="text-muted mb-0">Title</h6>
                </div>
                <div class="col-lg-9 card-body">
                    <h6 class="text-muted mb-0">{{ assignment.title }}</h6>
                </div>

            </div>
            <div class="row no-gutters">
                <div class="col-lg-3 card-body">
                    <p><strong class="headings-color">Submit Assignment</strong></p>
                    <p class="">
                        Submit your work for the assignment: {{ assignment.title }}
                    </p>
                    <a class="btn btn-outline-primary btn-block" href="{% host_url 'assignment_details' assignment.uuid_id host 'students' %}">
                        View Assignment
                    </a>
                    <hr>
                    <p class="text-primary">
                        <strong>Note:</strong>
                        If you do not have any written notes on your assignment but documents, just submit your assignment with an empty write-up and then attach files in the screen that follows
                    </p>
                    <hr>

                </div>
                <div class="col-lg-9 card-form__body card-body">
                    {% crispy form %}
                    <div class="form-group">
                        <p class="text-muted">If you have documents or some files for submission instead, just leave this field empty and submit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
