{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %}
    Submission Details
{% endblock %}
{% block assignments_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:170px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Assignment Submission
                        Details
                    </div>
                </div>
                <p class="lead text-white mt-2 mb-0">{{ submission.assignment.title }}</p>
                <h1 class="text-white mt-0">Submission Details</h1>
                <div class="mt-1">
                    {% if not submission.assignment.expired and not submission.has_review %}
                        <a href="{% host_url 'edit_submission' submission.uuid_id host 'students' %}"
                           class="btn btn-outline-light mr-2">
                            <i class="fa fa-pencil-alt"></i> Edit
                        </a>
                        <a href="{% host_url 'attach_submission_document' submission.uuid_id host 'students' %}"
                           class="btn btn-outline-light mr-2">
                            <i class="fa fa-upload"></i> Upload File (s)
                        </a>
                    {% endif %}
                    {% if submission.has_review %}
                        <h6 class="text-white"><i class="fa fa-check-circle"></i> REVIEWED & GRADED </h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card shadow-none">
                    <h4 class="card-header text-muted">
                        <i class="fa fa-list"></i>
                        WRITE-UP
                        {% if submission.created < submission.modified %}
                            <small class="float-right">
                                <i class="fa fa-pen text-right"></i>
                                Edited<br>
                                {{ submission.modified|naturaltime }}
                            </small>
                        {% endif %}
                    </h4>
                    <div class="card-body">
                        {{ submission.write_up_formatted_markdown|safe|default:"N/A" }}
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-12">
                <div class="card shadow-none card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-success">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                <span class="flex d-flex flex-column">
                  {% if submission.has_review %}
                      <strong class="lead">
                        <strong class="text-light">{{ submission.review.points }}</strong>
                        <small class="text-white">out of</small>
                        <strong>{{ submission.assignment.points }}</strong>
                      </strong>
                      <small class="text-white text-uppercase">points</small>
                  {% else %}
                      <strong class="lead">{{ submission.assignment.points }}</strong>
                      <small class="text-muted text-uppercase">points</small>
                  {% endif %}

                </span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <p class="text-muted">
                                {% if submission.has_review and submission.review.remarks %}
                                    <b class="mb-2">
                                        <u>Remarks on submitted work:</u>
                                    </b>
                                    <br>
                                    <i class="mt-1">
                                        {{ submission.review.remarks }}
                                    </i>
                                {% endif %}
                            </p>
                            <strong>
                                {{ submission.assignment.submissions.count }}
                            </strong>
                            of your peers
                            <span class="text-muted">made submissions.</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{% host_url 'assignment_details' submission.assignment.uuid_id host 'students' %}"
                               class="btn btn-outline-info btn-block">
                                <i class="fa fa-arrow-left"></i>
                                &nbsp; Assignment Page
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card shadow-none">
                    <h5 class="card-header text-muted">
                        <i class="fa fa-file-alt"></i>
                        FILES</h5>
                    <ul class="list-group">
                        {% for document in submission.documents.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong>
                                        {{ forloop.counter }}.
                                        {% if document.label %}
                                            {{ document.label }}
                                        {% else %}
                                            File {{ document.uuid_id|truncatechars:20 }}
                                        {% endif %}
                                    </strong>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="{{ document.file.url }}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a class="ml-2" href="{{ document.file.url }}">
                                        <i class="fa fa-trash"></i>
                                        Remove
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong class="text-muted">No files attached to this submission.</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
