{% extends 'students/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %} Transcript - {{ enrollment.course }} {% endblock %}
{% block dashboard_lnk %}
    active
{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Transcript</div>
                </div>
                <p class="lead text-white mt-2 mb-0">{{ enrollment.course }}</p>
                <h3 class="text-white mt-0">{{ enrollment.student.reg_number }} - Transcript</h3>
            </div>
        </div>
    </div>
    {{ enrollment.prefetch_related }}
    <div class="container-fluid mt-5 page__container">
        <div class="card shadow-none card-body">
            {% for registration in enrollment.registrations.all.iterator %}
                {{ registration.prefetch_related }}
                <h6 class="card-header border-top border-left border-right">Semester {{ registration.semester_no|apnumber|capfirst }}</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Class</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for module_ref in registration.modules.all.iterator %}
                        {{ module_ref.select_related }}
                        <tr>
                            <td>{{ module_ref.module.code }}</td>
                            <td>{{ module_ref.module.name }}</td>
                            <td>{{ module_ref.score }}</td>
                            <td>{{ module_ref.classification }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
