{% load static hosts %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main Menu</title>

    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">

</head>

<body class="layout-login-centered-boxed">
   
<div class="trello-board__tasks" data-toggle="dragula" data-dragula-containers="[&quot;#trello-tasks-1&quot;, &quot;#trello-tasks-2&quot;, &quot;#trello-tasks-3&quot;, &quot;#trello-tasks-4&quot;]">
                                <div class="card bg-light border">
                                    <div class="card-header card-header-sm bg-danger">
                                        <h4 class="card-header__title text-white">Bulawayo Polytechnic E-Learning System</h4>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="trello-board__tasks-list card-list" id="trello-tasks-1">

                                        	<div style="padding: initial !important;" class="layout-login-centered-boxed__form">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light">
            <a href="" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
                <img class="navbar-brand-icon mr-0 mb-2" src="{% static 'images/byo.webp' %}" width="120" alt="">
            </a>
        </div>
        

        

    </div>



                                            <div onclick="location.href='{% host_url 'index' host 'applications' %}'" class="trello-board__tasks-item card shadow-none border">
                                                <div class="p-3">
                                                    <p class="m-0 d-flex align-items-center">
                                                        <strong>Applications</strong> <span class="badge badge-light-gray ml-auto">OPEN</span></p>

                                                    <p class="d-flex align-items-center mb-2">
                                                        <i class="material-icons icon-16pt mr-2 text-muted">folder_open</i>
                                                        <span class="text-muted mr-3">Apply now</span>
                                                    </p>
                                                    <div class="media align-items-center">
                                                        <div class="media-left mr-2">

                                                            

                                                        </div>
                                                        <div class="media-body">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div onclick="location.href='{% host_url 'login' host 'students' %}'" class="trello-board__tasks-item card shadow-none border">
                                                <div class="p-3">
                                                    <p class="m-0 d-flex align-items-center">
                                                        <strong>Student Portal</strong> <span class="badge badge-success ml-auto">Login</span></p>

                                                    <p class="d-flex align-items-center mb-2">
                                                        <i class="material-icons icon-16pt mr-2 text-muted">folder_open</i>
                                                        <span class="text-muted mr-3">E-Learning</span>
                                                      
                                                    </p>
                                                    <div class="media align-items-center">
                                                        <div class="media-left mr-2 avatar-group">

                                                           

                                                        </div>
                                                        <div class="media-body">

                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div onclick="location.href='{% host_url 'login' host 'teachers' %}'" class="trello-board__tasks-item card shadow-none border">
                                                <div class="p-3">
                                                    <p class="m-0 d-flex align-items-center">
                                                        <strong>Lecturer's Portal</strong> <span class="badge badge-warning ml-auto">Login</span></p>

                                                    <p class="d-flex align-items-center mb-2">
                                                        <i class="material-icons icon-16pt mr-2 text-muted">folder_open</i>
                                                        <span class="text-muted mr-3">E-learning</span>
                                                       
                                                    </p>
                                                    <div class="media align-items-center">
                                                        <div class="media-left mr-2">

                                                          

                                                        </div>
                                                        <div class="media-body">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                           <div onclick="location.href='{% host_url 'login' host 'staff' %}'" class="trello-board__tasks-item card shadow-none border">
                                                <div class="p-3">
                                                    <p class="m-0 d-flex align-items-center">
                                                        <strong>Staff Portal</strong> <span class="badge badge-danger ml-auto">Login</span></p>

                                                    <p class="d-flex align-items-center mb-2">
                                                        <i class="material-icons icon-16pt mr-2 text-muted">folder_open</i>
                                                        <span class="text-muted mr-3">Management</span>
                                                      
                                                    </p>
                                                    <div class="media align-items-center">
                                                        <div class="media-left mr-2 avatar-group">

                                                           

                                                        </div>
                                                        <div class="media-body">

                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                           <br>
                                           <br>
                                           <br>
                                           <br>


                                        </div>
                                      
                                    </div>
                                </div>
                            </div>








   

    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>


</body>

</html>
