{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Add Study Material {% endblock %}
{% block module_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:120px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Study Material</div>
                </div>
                <h4 class="text-white mb-0">{{ module.name }}</h4>
            </div>
        </div>
    </div>


    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="card shadow-none">
                    <h6 class="text-muted text-isppme border-top border-left border-right card-header">
                        <i class="fa fa-plus"></i> STUDY MATERIAL
                    </h6>
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}

{% block js %}
    {{ block.super }}

    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
