{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}Assignment #{{ assignment.id }} {% endblock %}
{% block assignment_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:190px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Asignment Submissions</div>
                </div>
                <h4 class="text-white mb-0">{{ assignment.title }} [Submissions]</h4>
                <span class="lead text-white my-2">{{ assignment.module.name }}</span>
                <div class="my-2 text-white d-flex">
                    <strong class="mr-4"><i class="icon-16pt fa fa-calendar icon-light"></i>
                        &nbsp;{{ assignment.due_date_time }}</strong>
                    <strong>
                        <i class="icon-16pt fa fa-clock icon-light"></i> &nbsp;
                        {% if assignment.expired %}
                            {{ assignment.due_date_time|naturaltime }}
                        {% else %}
                            {{ assignment.due_date_time|timeuntil }}
                        {% endif %}
                    </strong>
                </div>
                <div class="mt-1">
                    <a href="{% host_url 'edit_assignment' assignment.uuid_id host 'teachers' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="fa fa-pencil-alt"></i> Edit Assignment
                    </a>
                    <a href="{% host_url 'attach_assignment_files' assignment.uuid_id host 'teachers' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="fa fa-cloud-upload-alt"></i> Upload Files
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <ul class="list-group">
                        {% for submission in submissions %}
                            <li class="list-group-item d-flex align-items-center">
                                <div class="avatar" data-toggle="tooltip" data-placement="top" title=""
                                     data-original-title="{{ submission.student.full_name }}">
                                    <span class="avatar-title rounded-circle">{{ submission.student.initials }}</span>
                                </div>
                                <div class="flex ml-3">
                                    <div class="d-flex align-items-middle">
                                        <a href="{% host_url 'submission_details' submission.uuid_id host 'teachers' %}">
                                            <strong class="text-15pt mr-1">{{ submission.student.full_name }}</strong>
                                        </a>
                                    </div>
                                    <small class="text-muted">@{{ submission.created }}</small>
                                </div>
                                {% if submission.graded %}

                                {% endif %}
                                <div>
                                    {% if submission.graded %}
                                        <div>
                                            <strong class="text-15pt text-success mr-1">
                                                <i class="fa fa-clipboard-check text-success"></i> Graded
                                            </strong>
                                        </div>
                                        <div class="text-align-center">
                                            {{ submission.review.points }} <span
                                                class="text-muted">/{{ submission.assignment.points }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                No submissions yet.
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock page_content %}

{% block js %}
    {{ block.super }}

    <!-- Flatpickr -->
    <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

    <!-- List.js -->
    <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
    <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
