{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}Assignment Details :
    {{ assignment.title }}
{% endblock %}
{% block assignment_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:200px;">
        <div class="container-fluid page__container">
            <div class="d-flex flex-column">
                <div>
                    <div class="badge badge-warning">Asignment Details</div>
                </div>
                <h4 class="text-white mb-0">{{ assignment.title }}</h4>
                <span class="lead text-white my-2">{{ assignment.module.name }}</span>
                <div class="my-2 text-white d-flex">
                    <strong class="mr-4">
                        <i class="icon-16pt fa fa-calendar icon-light"></i>
                        &nbsp;{{ assignment.due_date_time }}</strong>
                    <strong>
                        <i class="icon-16pt fa fa-clock icon-light"></i>
                        &nbsp;
                        {% if assignment.expired %}
                            {{ assignment.due_date_time|naturaltime }}
                        {% else %}
                            {{ assignment.due_date_time|timeuntil }}
                        {% endif %}
                    </strong>
                </div>
                <div class="mt-1">
                    <a href="{% host_url 'edit_assignment' assignment.uuid_id host 'teachers' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="fa fa-pencil-alt"></i>
                        Edit Assignment
                    </a>
                    <a href="{% host_url 'attach_assignment_files' assignment.uuid_id host 'teachers' %}"
                       class="btn btn-outline-light mr-2">
                        <i class="fa fa-cloud-upload-alt"></i>
                        Upload Files
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-5 order-12">
                <div class="card card-margin-md-negative-40">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">
                            <a href="javascript:void(0)"
                               class="flex d-flex align-items-center text-body text-underline-0">
                <span class="flex d-flex flex-column">
                  <strong>{{ assignment.points }}</strong>
                  <small class="text-muted text-uppercase">Points</small>
                </span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <strong>
                                {{ assignment.submissions.count }}</strong>
                            <span class="text-muted">submission{{ assignment.submissions.count|pluralize }}
                made</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{% host_url 'assignment_submission_list' assignment.uuid_id host 'teachers' %}"
                               class="btn btn-outline-info btn-block">
                                <i class="fa fa-cloud-upload-alt"></i>
                                View Submissions
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <h5 class="card-header text-muted">
                        <i class="fa fa-file-alt"></i>
                        FILES</h5>
                    <ul class="list-group">
                        {% for document in assignment.documents.all %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong>{{ forloop.counter }}.
                                        {{ document.label }}</strong>
                                </div>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="{{ document.file.url }}">
                                        <i class="fa fa-download"></i>
                                        Download
                                    </a>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <strong class="text-muted">No files attached to this assignment.</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-7 mt-4">
                <div class="card">
                    <h5 class="card-header text-muted">
                        <i class="fa fa-list"></i>
                        DETAILS</h5>
                    <div class="card-body">
                        {{ assignment.description_formatted_markdown|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
