{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block chat_lnk %}active{% endblock %}
{% block page_title %} Chat Contacts {% endblock %}
{% block page_content %}

    <div class="container-fluid page__container">
        <div class="row mt-4">
            <div class="col-md-9">
                <div class="card shadow-none">
                    <div class="card-body">
                        {% if teacher.modules.all %}
                            {% for module in teacher.modules.all %}
                                {{ module.prefetch_related }}
                                <div class="card shadow-none card-group-row__card border-left">
                                    <div class="card-body-x-lg card-body d-flex flex-row align-items-right">
                                        <div class="flex">
                                            <div class="card-header__title text-muted d-flex">{{ module.code }}
                                            </div>
                                            <a href=""
                                               class="h6">{{ module.name }}
                                            </a>
                                            <div class="mt-3">
                                                <small class="text-muted">
                                                    OTHER TUTORS ({{ module.teachers.count }})
                                                </small>
                                                <br>
                                                <div class="avatar-group">
                                                    {% for tutor in module.teachers.all %}
                                                        {% if tutor.user != teacher.user %}
                                                            <div class="avatar" data-toggle="tooltip"
                                                                 data-placement="top"
                                                                 title=""
                                                                 data-original-title="{{ tutor.full_name }}">
                                                                <a href="{% host_url 'get_chat_url' tutor.user.id host 'teachers' %}">
                                                                    <span class="avatar-title rounded-circle">{{ tutor.initials }}</span>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <small class="text-muted">
                                                    STUDENTS ({{ module.current_semester_students }})
                                                </small>
                                                <br>
                                                <div class="avatar-group">
                                                    {% for student in module.get_current_semester_students %}
                                                        <div class="avatar" data-toggle="tooltip"
                                                             data-placement="top"
                                                             title=""
                                                             data-original-title="{{ student.name }}">
                                                            <a href="{% host_url 'get_chat_url' student.user.id host 'teachers' %}">
                                                                <span class="avatar-title rounded-circle">{{ student.initials }}</span>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
