{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Account</title>

    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">

</head>

<body class="layout-login-centered-boxed">
    <div class="layout-login-centered-boxed__form card">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light">
            <a href="index.html" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
                <img class="navbar-brand-icon mr-0 mb-2" src="{% static 'images/logo-old.png' %}" width="120" alt="Stack">
                <!--<span>ISPPME</span>-->
            </a>
            <p class="m-0">Create your ISPPME Tutor Account </p>
        </div>
        {% crispy form %}
    </div>


    <!-- jQuery -->
    <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
    <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'slack-assets/js/app.js' %}"></script>


</body>

</html>
