{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} Create new: {{ module.name }} Assignment {% endblock %}
{% block module_listings_lnk %}active{% endblock %}
{% block page_content %}
<div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:180px;">
    <div class="container-fluid page__container">
        <div class="d-flex flex-column">
            <div>
                <div class="badge badge-warning">Create Assignment</div>
            </div>
            <h4 class="text-white mb-0">{{ module.name }}</h4>
            <span class="text-white my-2">This module is studied in {{ module.courses.count }} course{{ module.course.count|pluralize }}</span>
        </div>
    </div>
</div>


<div class="container-fluid page__container">
  <div class="row">
      <div class="col-md-4 order-12">
          <div class="card card-margin-md-negative-40">
              <ul class="list-group list-lessons">
                  <li class="list-group-item d-flex active text-muted">
                      <h5>Quick Links</h5>
                  </li>
                  {% for md in tutor.modules.all %}
                      {% if md != module %}
                        <li class="list-group-item d-flex align-items-center">
                            <div>
                                <a href="{% host_url 'create_assignment' md.uuid_id host 'teachers' %}">
                                    {{ md.name }}
                                </a>
                                <div class="text-muted">
                                    {{ md.code }}
                                </div>
                            </div>

                        </li>
                      {% endif %}
                  {% endfor %}
              </ul>
          </div>
      </div>
      <div class="col-md-8 mt-4">
          <div class="card">
              <h5 class="text-muted card-header">
                  <i class="fa fa-plus"></i> CREATE ASSIGNMENT
              </h5>
              <div class="card-body">
                  {% crispy form %}
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
