{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %} {{ module.code }} Assignments {% endblock %}
{% block module_listings_lnk %}active{% endblock %}
{% block page_content %}
<div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:150px;">
    <div class="container-fluid page__container">
        <div class="d-flex flex-column">
            <div>
                <div class="badge badge-warning">{{module.code }} Assignments</div>
            </div>
            <p class="text-white mt-1 mb-0">{{ module.name }}</p>
            <h1 class="text-white mb-0"><span class="text-warning">{{ module.code }}</span> Assignments</h1>
        </div>
    </div>
</div>

<div class="container-fluid page__container">
    <div class="card shadow-none border-top border-bottom border-left border-right card-form d-flex flex-column mt-4 flex-sm-row">
        <div class="card-form__body card-body-form-group flex">
          <form method="get" action="" id="filter_form">
            <div class="form-row">
              <div class="col-sm-12">
                {{ filter.form.label|as_crispy_field }}
              </div>
            </div>
          </form>
        </div>
        <button onclick="$('#filter_form').submit();" class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0">
          <i class="material-icons text-primary">refresh</i>
        </button>
    </div>

    {% for assignment in assignments %}
      {% ifchanged assignment.created|date %}
          <p class="text-dark-gray d-flex align-items-center mt-3">
            <i class="material-icons icon-muted mr-2">event</i>
            <strong>{{ assignment.created|date:"l, d M 'y" }}</strong>
          </p>
      {% endifchanged %}
      <div class="row align-items-center projects-item mb-1">
          <div class="col-sm-auto mb-1 mb-sm-0">
              <div class="text-dark-gray">{{ assignment.created|time:"h:i A" }}</div>
          </div>
          <div class="col-sm">
              <div class="card shadow-none m-0">
                  <div class="px-4 py-3">
                      <div class="row align-items-center">
                          <div class="col" style="min-width: 250px">
                              <div class="d-flex align-items-center">
                                  <a href="{% host_url 'assignment_details' assignment.uuid_id host 'teachers' %}" title="{{ assignment.title }}" class="text-body">
                                    <strong class="text-15pt mr-2">
                                      {{ assignment.title }}
                                    </strong>
                                  </a>
                                  {% if assignment.expired %}
                                    <span class="badge badge-danger">Overdue</span>
                                  {% endif %}
                              </div>

                              <div class="d-flex align-items-center">
                                  {% if assignment.expired %}
                                      <small class="text-dark-gray mr-2">Expired</small>
                                      <a href="#" class="d-flex align-items-middle">
                                          {{ assignment.due_date_time|naturaltime }}
                                      </a>
                                  {% else %}
                                      <small class="text-dark-gray mr-2">Exires in</small>
                                      <a href="#" class="d-flex align-items-middle">
                                          {{ assignment.due_date_time|timeuntil }}
                                      </a>
                                  {% endif %}
                                  &nbsp;&nbsp;
                                  <small class="text-dark-gray mr-2">@ {{ assignment.due_date_time }}</small>
                              </div>
                              <div class="d-flex align-items-center">
                                Module: &nbsp<span class="text-primary">{{ assignment.module.name }}</span>
                              </div>

                          </div>
                          <div class="col-auto d-flex align-items-center" style="min-width: 140px;">
                              <a href="javascript:void(0)" title="{{ assignment.module.name }}" class="text-dark-gray">{{ assignment.module.code }}</a> &nbsp;
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% empty %}
      <div class="card">
          <div class="card-body">
              <h6 class="text-muted mb-0"><i>No assignments yet.</i></h6>
          </div>
      </div>
    {% endfor %}
    {% if is_paginated %}
      <div class="row">
          <div class="col-md-12 offset-md-2">
              <div class="px-3">
                  <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
                      <ul class="pagination mt-3">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                          </a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="1">
                            <span>Page</span>
                          </a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="javascript:void(0)" aria-label="{{ page_obj.number }}">
                            <span>{{ page_obj.number }}</span>
                          </a>
                        </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">
                            <span>of</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}" aria-label="2">
                            <span>{{ page_obj.paginator.num_pages }}</span>
                          </a>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
        </div>
    {% endif %}

</div>


{% endblock page_content %}

{% block js %}
{{ block.super }}

<!-- List.js -->
<script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
<script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
