{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}
    Module Listings
{% endblock %}
{% block module_listings_lnk %}active{% endblock %}
{% block page_content %}
    <div class="container-fluid page__heading-container">
        <div class="page__heading">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active" aria-current="page">Modules</li>
                </ol>
            </nav>

            <h1 class="m-0">Modules</h1>
        </div>
    </div>

    <div class="container-fluid page__container">
        <div class="row card-group-row  pt-2">
            {% for module in modules %}
                <div class="col-12 card-group-row__col">
                    <div class="card shadow-none card-group-row__card">
                        <div class="card-body-x-lg card-body d-flex flex-row align-items-right">
                            <div class="flex">
                                <div class="card-header__title text-muted mb-2 d-flex">{{ module.code }}
                                </div>
                                <a href="" class="h6 m-0">{{ module.name }}</a>
                            </div>
                            <div class="flex">
                                <div class="card-header__title text-muted mb-1 d-flex">Contribution</div>
                                <span class="text-primary">Exam:</span>
                                <span class="text-muted">{{ module.exam_contribution }}%</span>
                                <span class="text-muted">&bull;</span>
                                <span class="text-primary">Continuous Assessment:</span>
                                <span class="text-muted">{{ module.continuous_assessment_contribution }}%</span>
                                <div class="card-header__title text-muted mt-2 mb-1 d-flex">Metrics</div>
                                <span class="text-primary">Current Students:</span>
                                <span class="text-muted">
                                    {{ module.current_semester_students|default:"N/A"|intcomma }}
                                </span>
                            </div>
                        </div>
                        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                            <a class="btn btn-outline-primary"
                               href="{% host_url 'module_assignment_list' module.uuid_id host 'teachers' %}">
                                <i class="fa fa-layer-group"></i>
                                View Assignments
                            </a>
                            <a class="btn btn-outline-success ml-2"
                               href="{% host_url 'create_assignment' module.uuid_id host 'teachers' %}">
                                <i class="fa fa-plus-circle"></i>
                                Assignment
                            </a>
                            <a class="btn btn-outline-warning ml-2"
                               href="{% host_url 'add_module_material' module.uuid_id host 'teachers' %}">
                                <i class="fa fa-cloud-upload-alt"></i>
                                Study Material
                            </a>
                        </div>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock page_content %}

{% block js %}
    {{ block.super }}

{% endblock js %}
