{% extends 'teachers/base.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load core_template_tags_and_filters %}
{% block page_title %}
  {{ submission.student.full_name }}
  -
  {{ submission.assignment.title }}
{% endblock %}
{% block assignment_listings_lnk %}active{% endblock %}
{% block page_content %}
  <div class="hero-banner bg-primary d-flex flex-row align-items-center" style="height:140px;">
    <div class="container-fluid page__container">
      <div class="d-flex flex-column">
        <div>
          <div class="badge badge-warning">Asignment Submissions</div>
        </div>
        <h4 class="text-white mt-2 mb-0">
          <span class="text-warning">{{ submission.student.full_name }}</span>
        </h4>
        <span class="lead text-white my-2">{{ submission.assignment.title }}</span>
      </div>
    </div>
  </div>

  <div class="container-fluid page__container">
    <div class="row">
      <div class="col-md-4 order-12">
        <div class="card card-margin-md-negative-40">
          <h5 class="card-header text-muted">
            <i class="fa fa-file-alt"></i>
            FILES</h5>
          <ul class="list-group">
            {% for document in submission.documents.all %}
              <li class="list-group-item d-flex align-items-center">
                <div>
                  <strong title="{{ document.label }}">{{ forloop.counter }}.
                    {{ document.label|truncatechars:25 }}</strong>
                </div>
                <div class="ml-auto d-flex align-items-center">
                  <a href="{{ document.file.url }}">
                    <i class="fa fa-download"></i>
                    Download
                  </a>
                </div>
              </li>
              {% empty %}
              <li class="list-group-item d-flex align-items-center">
                <div>
                  <strong class="text-muted">No files attached to this submission.</strong>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="card ">
          <h5 class="card-header mb-0 text-muted">
            <i class="fa fa-clipboard-check"></i>
            Review
          </h5>
          <div class="card-body">
            <form action="{% host_url 'submit_review' submission.uuid_id host 'teachers' %}" method="post">
              {% csrf_token %}
              {{ review_form.submission }}
              <div class="input-group mb-3">
                {{ review_form.points }}
                <div class="input-group-append">
                  <span class="input-group-text" id="addon">out of
                    <strong>&nbsp;{{ submission.assignment.points }}</strong>
                  </span>
                </div>
              </div>
              {{ review_form.remarks|as_crispy_field }}

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" required="required" value="" id="agree">
                <label class="form-check-label" for="agree">
                  I confirm the grading and remarks entered and I would like to apply them.
                </label>
              </div>
              <button type="submit" class="btn btn-outline-success btn-block">
                Confirm
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-4">
        <div class="card">
          <h5 class="card-header text-muted">
            <i class="fa fa-clipboard"></i>
            WRITE UP
          </h5>
          <div class="card-body well">
            {{ submission.write_up_formatted_markdown|safe|default:"N/A" }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock page_content %}

{% block js %}
  {{ block.super }}

  <!-- Flatpickr -->
  <script src="{% static 'slack-assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
  <script src="{% static 'slack-assets/js/flatpickr.js' %}"></script>

  <!-- List.js -->
  <script src="{% static 'slack-assets/vendor/list.min.js' %}"></script>
  <script src="{% static 'slack-assets/js/list.js' %}"></script>
{% endblock js %}
