{% extends 'email/layouts/base_simple.html' %}
{% block main_text %}
  <p>Att: {{ application.full_name }},</p>
  <p>
    Your application to study for
    <strong>{{ application.course }}</strong> with <strong>Bulawayo Polytechnic</strong> sent on {{ application.created|date }} has been reviewed and accepted for semester starting {{ application.semester.start|date }}. Please follow the given link to acknowledge this acceptance and secure your place by registering right away.
  </p>
{% endblock main_text %}

{% block call_to_action %}
  <td>
    <a href="{{ url }}" target="_blank">Acknowledge Application</a>
  </td>
{% endblock call_to_action %}

{% block bottom_text %}
  <p>If you did not apply for any course here at Bulawayo Polytechnic please ignore this email.</p>
  <p>Congrats. Happy Learning!</p>
{% endblock bottom_text %}

{% block footer %}
  <tr>
    <td class="content-block">
      <span class="apple-link">Bulawayo Polytechnic, Bulawayo, Zimbabwe</span>
    </td>
  </tr>
  <tr>
    <td class="content-block powered-by">
      Powered by <a href="#">Zeyn Masialeti</a>.
    </td>
  </tr>
{% endblock footer%}
