{% extends 'layouts/email.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid page__container">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="badge badge-danger">Application Successful</div>

                    <div class="px-3">
                        <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
                            <a href="index.html" class="navbar-brand d-flex flex-column m-0" style="min-width: 0">
                                <img class="navbar-brand-icon mb-2" src="{% static 'images/logo-old.png' %}" width="25" alt="Stack">
                                <span>Invoice</span>
                            </a>
                            <div class="text-muted">Invoice #MPS1234AD</div>
                        </div>
                            
                        </div>

                        <div class="text-label">Notes</div>
                        <p class="text-muted">We appreciate your business. Should you need us to add VAT or extra notes let us know!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}