{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block page_title %}{% endblock page_title %}
    </title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    {% block css %}
      <!-- Simplebar -->
      <link type="text/css" href="{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

      <!-- App CSS -->
      <link type="text/css" href="{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
      <link type="text/css" href="{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

      <!-- Material Design Icons -->
      <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
      <link type="text/css" href="{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

      <!-- Font Awesome FREE Icons -->
      <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
      <link type="text/css" href="{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="layout-fixed">
    <div class="preloader"></div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

      <!-- Header -->

      <div id="header" class="mdk-header bg-dark js-mdk-header m-0" data-fixed="data-fixed" data-effects="waterfall">
        <div class="mdk-header__content">

          <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary="data-primary">
            <div class="container">

              <!-- Navbar toggler -->

              <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar Brand -->
              <a href="fixed-dashboard.html" class="navbar-brand ">
                {#                        <img class="navbar-brand-icon"#}
                {#                             src="{% static 'slack-assets/images/stack-logo-white.svg' %}" width="22" alt="Stack">#}
                {#                        <i class="navbar-brand-icon fa fa-user-plus"></i>#}
                <span>ISPPME Applications</span>
              </a>
              <ul class="nav navbar-nav ml-auto d-none d-md-flex">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="material-icons">help_outline</i>
                    Get Help
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- // END Header -->
      <!-- Header Layout Content -->
      <div class="mdk-header-layout__content page">
        <div class="page__header mb-0">
          <div class="container page__container">
            <div class="navbar navbar-secondary navbar-light navbar-expand-sm p-0">
              <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarsExample03" type="button">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="navbar-collapse collapse" id="navbarsExample03">
                <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dashboards</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="fixed-dashboard.html">Default</a>
                      <a class="dropdown-item" href="fixed-staff.html">CRM/Staff</a>
                      <a class="dropdown-item" href="fixed-analytics.html">E-commerce Analytics</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Apps</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="fixed-app-trello.html">Trello</a>
                      <a class="dropdown-item" href="fixed-app-projects.html">Projects</a>
                      <a class="dropdown-item" href="fixed-app-fullcalendar.html">Event Calendar</a>
                      <a class="dropdown-item" href="fixed-app-chat.html">Chat</a>
                      <a class="dropdown-item" href="fixed-app-email.html">Email</a>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-header">Education</div>
                      <a class="dropdown-item" href="fixed-app-course.html">Course</a>
                      <a class="dropdown-item" href="fixed-app-lesson.html">Lesson</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item active" href="fixed-stories.html">Stories</a>
                      <a class="dropdown-item" href="fixed-invoice.html">Invoice</a>
                      <a class="dropdown-item" href="fixed-pricing.html">Pricing</a>
                      <a class="dropdown-item" href="fixed-edit-account.html">Edit Account</a>
                      <a class="dropdown-item" href="fixed-profile.html">Profile</a>
                      <a class="dropdown-item" href="login.html">Login</a>
                      <a class="dropdown-item" href="signup.html">Sign Up</a>
                      <a class="dropdown-item" href="fixed-digital-product.html">Digital Product</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Components</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="fixed-ui-buttons.html">Buttons</a>
                      <a class="dropdown-item" href="fixed-ui-alerts.html">Alerts</a>
                      <a class="dropdown-item" href="fixed-ui-avatars.html">Avatars</a>
                      <a class="dropdown-item" href="fixed-ui-modals.html">Modals</a>
                      <a class="dropdown-item" href="fixed-ui-charts.html">Charts</a>
                      <a class="dropdown-item" href="fixed-ui-icons.html">Icons</a>
                      <a class="dropdown-item" href="fixed-ui-forms.html">Forms</a>
                      <a class="dropdown-item" href="fixed-ui-range-sliders.html">Range Sliders</a>
                      <a class="dropdown-item" href="fixed-ui-datetime.html">Time &amp; Date</a>
                      <a class="dropdown-item" href="fixed-ui-tables.html">Tables</a>
                      <a class="dropdown-item" href="fixed-ui-tabs.html">Tabs</a>
                      <a class="dropdown-item" href="fixed-ui-loaders.html">Loaders</a>
                      <a class="dropdown-item" href="fixed-ui-drag.html">Drag &amp; Drop</a>
                      <a class="dropdown-item" href="fixed-ui-pagination.html">Pagination</a>
                      <a class="dropdown-item" href="fixed-ui-vector-maps.html">Vector Maps</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Layouts</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="stories.html">Default</a>
                      <a class="dropdown-item" href="fluid-stories.html">Full Width Navs</a>
                      <a class="dropdown-item active" href="fixed-stories.html">Fixed Navs</a>
                      <a class="dropdown-item" href="mini-stories.html">Mini Sidebar + Navs</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {% block page_content %}{% endblock page_content %}
      </div>
      <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {% block js %}
      <!-- jQuery -->
      <script src="{% static 'slack-assets/vendor/jquery.min.js' %}"></script>

      <!-- Bootstrap -->
      <script src="{% static 'slack-assets/vendor/popper.min.js' %}"></script>
      <script src="{% static 'slack-assets/vendor/bootstrap.min.js' %}"></script>

      <!-- Simplebar -->
      <script src="{% static 'slack-assets/vendor/simplebar.min.js' %}"></script>

      <!-- DOM Factory -->
      <script src="{% static 'slack-assets/vendor/dom-factory.js' %}"></script>

      <!-- MDK -->
      <script src="{% static 'slack-assets/vendor/material-design-kit.js' %}"></script>

      <!-- App -->
      <script src="{% static 'slack-assets/js/toggle-check-all.js' %}"></script>
      <script src="{% static 'slack-assets/js/check-selected-row.js' %}"></script>
      <script src="{% static 'slack-assets/js/dropdown.js' %}"></script>
      <script src="{% static 'slack-assets/js/sidebar-mini.js' %}"></script>
      <script src="{% static 'slack-assets/js/app.js' %}"></script>

    {% endblock js %}
  </body>
</html>