{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}
        <!-- Simplebar -->
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/vendor/simplebar.min.css' %}" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/vendor-material-icons.css' %}" rel="stylesheet">
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

        <!-- Font Awesome FREE Icons -->
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
        <link type="text/css" href="apply.isppme.local:8000{% static 'slack-assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body class="layout-fixed">
{% block content %}{% endblock content %}
</body>
</html>
